<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500|Poppins:300,400,500,600&display=swap&subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/style.css?{php echo time();}">
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/slick.css">
</head>
<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include 'elements/header.latte'}

	{include content}

	{include 'elements/footer.latte'}

	<script src="{$basePath}/js/jquery-3.4.1.min.js"></script>
	<script src="{$basePath}/js/slick.min.js"></script>
	<script src="{$basePath}/js/placeholder-shown-polyfill.js"></script>
	<script src="{$basePath}/js/hideShowPassword.min.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{block scripts}{/block}
</body>
</html>
