
{block content}

{include '../elements/slider.latte'}

<div class="content-page content-page-bg">
	<h1>balanced life</h1>
	<p class="subtitle">Magazín o dění v Balance Clubu Brumlovka</p>
	<img src="{$basePath}/images/casopirs.jpg" class="image-full image-full-magazine">

	<div class="content-thin">
		<ul class="list-gray">
			<li><a href="">Balanced life 2/17 </a></li>
			<li><a href="">Balanced life 2/17 </a></li>
			<li><a href="">Balanced life 2/17 </a></li>
		</ul>
	</div>
	<p class="btn-container"><a class="btn">Zobrazit starší čísla</a></p>
</div>
<section class="became-member">
	<a class="button" href="">Chci se stát členem klubu</a>
</section>
<div class="puma"><a href="" target="_blank"></a></div>