{block content}

{include '../elements/slider.latte'}

<div class="content-page content-page-bg">
	<h1>BUDOVA BRUMLOVKA</h1>
	<p class="subtitle">Budova Brumlovka se nachází v areálu BB Centra na Praze 4<br> a svou zcela novou podobu má od roku 2007.</p>
	<img src="{$basePath}/images/foto.jpg" class="image-full" alt="">
	<div class="content-thin">
		<div class="text">
			<p>V přízemí je obchodní pasáž, která nabízí řadu rozmanitých služeb. Část prvního a celé druhé patro patří jednomu z nejmodernějších fitness a wellness center v České republice, Balance Club Brumlovka. Členové klubu si tedy zde mohou nejen zasportovat, ale i příjemně odpočinout a zrelaxovat ve wellness či na střešní terase budovy v japonském stylu.
			</p>
			<p><strong>Celá budova má bezbariérový přístup s možností využití výtahů.</strong></p>
			<h2>pŘEHLED SLUŽEB V BUDOVĚ BRUMLOVKA</h2>
		</div>
		<ul class="list-gray">
			<li><a href="">BOMTON – vlasové a kosmetické studio</a></li>
			<li><a href="">Maranatha – vegetariánská restaurace </a></li>
			<li><a href="">Balanced life 2/17 </a></li>
		</ul>
	</div>
</div>
<section class="became-member">
	<a class="button" href="">Chci se stát členem klubu</a>
</section>
<div class="puma"><a href="" target="_blank"></a></div>