{block content}

<div class="form-popup">
	<div class="container">
		<a class="popup-close" href=""></a>
		<h2>mám zájem o členství</h2>
		<div class="form-input">
			<label for="name">Jméno</label>
			<input type="text" id="name" placeholder=" ">
		</div>
		<div class="form-input">
			<label for="name1">Příjmení</label>
			<input type="text" id="name1" placeholder=" ">
		</div>
		<div class="form-input">
			<label for="name2">E-mail</label>
			<input type="text" id="name2" placeholder=" ">
		</div>
		<div class="form-input error">
			<label for="name3">Telefon</label>
			<input type="text" id="name3" placeholder=" ">
		</div>
		<div class="form-input">
			<label for="name4">Text</label>
			<textarea  id="name4" placeholder=" "></textarea>
		</div>
		<div class="form-submit">
			<input type="submit" value="Pokračovat" class="btn" />
		</div>
	</div>
</div>