{block content}

<div class="form-popup">
	<div class="container">
		<a class="popup-close" href=""></a>
		<h3>Kontaktovat mě</h3>
		<div class="form-radio">
			<input type="radio" id="name1" name="A"><label for="name1">Telefonem</label>
			<input type="radio" id="name2" name="A"><label for="name2">E-mailem</label>
		</div>
		<h3>Preferovaný čas</h3>
		<div class="form-radio">
			<input type="radio" id="name11" name="B"><label for="name11">Dopoledne</label>
			<input type="radio" id="name22" name="B"><label for="name22">Odpoledne</label>
		</div>
		<div class="form-checkbox">
			<input type=checkbox id="name3">
			<label for="name3">
				Tímto současně souhlasím se zpracováním osobních údajů za mně známých podmínek uvedených <a href="">zde</a>.
			</label>
		</div>
		<div class="form-submit">
			<input type="submit" value="Odeslat" class="btn" />
		</div>
	</div>
</div>