{block content}

{include '../elements/slider.latte'}

<div class="content-page content-page-bg">
	<h1>chci se stát členem</h1>
	<p class="subtitle">Balance Club Brumlovka má ve své nabídce několik typů členství.<br>Vyberte si to členství, které vám vyhovuje nejvíce. Pečujte s námi<br> o své zdraví již od 2 300 Kč.</p>
	<a class="care" href="">
		<h2>Pečujte s námi<br> o své zdraví</h2>
		<span class="btn">Mám zájem o členství</span>
	</a>
	<div class="content-thin">
		<div class="text">
			<p>Pro bližší informace využijte náš formulář kliknutím na tlačítko „Mám zájem o členství“ nebo nás kontaktovat na telefonním čísle <a href="">+420 234 749 811</a>.
			</p>
		</div>
	</div>
</div>
<div class="puma"><a href="" target="_blank"></a></div>