{block content}

<div class="content-page content-page-bg content-page-profile">
	<h1 class="without-subtitle">dobití kreditu</h1>
	<div class="content-thin">
		<div class="text">
			<p>Kredit slouží k rychlé a bezkontaktní úhradě Vámi čerpaných služeb a konzumace v klubu. <strong>Z kreditu nelze hradit platby členství.</strong>
			</p><p>
				Podle zákona o evidenci tržeb je prodávající povinen vystavit kupujícímu účtenku. Zároveň je povinen zaevidovat přijatou tržbu u správce daně online; v případě technického výpadku pak nejpozději do 48 hodin.
			</p>
		</div>
		<div class="credits">
			<div class="row row-selected">
				<span class="title">stav vašeho kreditu</span>
				<span class="value">1 550 Kč</span>
			</div>
		</div>
		<div class="text">
			<h2>dobití kreditu</h2>
		</div>
		<div class="credits">
			<a href="" class="row">
				<span class="title centered">1 Kč</span>
			</a>
			<a href="" class="row">
				<span class="title centered">1 Kč</span>
			</a>
			<a href="" class="row">
				<span class="title centered">1 Kč</span>
			</a>
			<div class="row">
				<span class="title"><input type="number" placeholder="Zadejte vlastní částku"></span>
				<span class="value value-submit"><input type="submit" class="submit" value="Zaplatit"></span>
			</div>
		</div>
	</div>

</div>
<section class="became-member">
	<a class="button" href="">Máte dotaz ohledně vašeho členství?</a>
</section>
<div class="puma"><a href="" target="_blank"></a></div>