{block content}

<div class="content-page content-page-bg content-page-profile">
	<h1 class="without-subtitle">REZERVACE MASÁŽÍ</h1>
	<div class="content-thin">
		<ul class="list-gray">
			<li><a href="">ceník doplňkových služeb</a></li>
			<li><a href="">klubová pravidla</a></li>
			<li><a href="">Doklad o uhrazení masáže  <em class="light">(15. 5. 2018)</em></a></li>
		</ul>
	</div>
</div>
<section class="became-member">
	<a class="button" href="">Máte dotaz ohledně vašeho členství?</a>
</section>
<div class="puma"><a href="" target="_blank"></a></div>