{block content}

{include '../elements/slider.latte'}

<div class="content-page content-page-bg">
	<h1>FILOZOFIE A POPIS KLUBU</h1>
	<p class="subtitle">Balance Club Brumlovka je exkluzivní klub, který patří mezi špičku českých fitness a wellness center a splňuje vysoký standard světových zařízení. </p>
	<a class="image-full-link" href=""><img src="{$basePath}/images/foto.jpg" class="image-full" alt=""><span class="arrow-right"></span></a>

	<div class="slider-simple">
		<div class="slides">
			<div class="slide">
				<img src="{$basePath}/images/foto.jpg" alt="">
			</div>
			<div class="slide">
				<img src="{$basePath}/images/foto.jpg" alt="" style="filter: grayscale(1);">
			</div>
			<div class="slide">
				<img src="{$basePath}/images/foto.jpg" alt="" style="filter: sepia(1)">
			</div>
		</div>
	</div>

	<div class="content-thin">
		<div class="text">
			<p><strong>Už od našeho vzniku v roce 2007 se nám daří zůstávat mezi těmi nejlepšími v ČR a držet krok se světovými trendy.</strong>
			</p>
		</div>
	</div>
</div>
<div class="puma"><a href="" target="_blank"></a></div>
