{block content}

{include '../elements/slider.latte'}

<div class="content-page content-page-bg">
	<h1>FITNESS A CARDIO</h1>
	<p class="subtitle">Po 10 letech od otevření se Balance Club Brumlovka pyšní zcela novou fitness a funkční zónou.</p>
	<a class="image-full-link" href=""><img src="{$basePath}/images/foto.jpg" class="image-full" alt=""><span class="arrow-right"></span></a>
	<div class="content-thin">
		<div class="text">
			<p>Rozsáhlá rekonstrukce velké a klimatizované haly se dotkla jak designové stánky, tak vybudování nových zón a jejich vybavení nejlepšími fitness, cardio a funkčními stoji značky <strong>Technogym</strong> v řadách ARTIS a SELECTION PRO. Velký prostor zde dostala i funkční zóna Octagon od značky Escape pro cvičení s vlastní vahou.
			</p>
			<p>Designové zpracování strojů, respektující biomechaniku a přirozený pohyb s propojením s nejmodernější technologií, představuje to nejlepší na trhu fitness v České republice.</p>
			<h2> FITNESS V BODECH</h2>
			<ul>
				<li>prostorná a plně klimatizovaná fitness zóna
				</li><li>špičkové posilovací a cardio stroje značky Technogym
				</li><li>rozsáhlá funkční zóna Octagon od značky Escape
				</li><li>integrované cardio-cinema
				</li><li>vibrační plošina Power Plate®
				</li><li>osobní trénink
				</li><li>stretching zóna
				</li><li>fitness bar
				</li>
			</ul>
		</div>
	</div>
</div>
<section class="became-member">
	<a class="button" href="">Chci se stát členem klubu</a>
</section>
<div class="puma"><a href="" target="_blank"></a></div>