{block content}

{include '../elements/slider.latte'}

<div class="content-page content-page-bg">
	<h1>ZÁVĚREČNÁ LEKCE PÁROVÝCH TANCŮ PROSINEC 2016</h1>
	<p class="subtitle">17. 12. 2018</p>
	<div class="gallery">
		<a href="" class="item">
			<div class="image" style="background-image: url({$basePath}/images/obrazek.jpg)"></div>
			<h2>Text</h2>
		</a>
		<a href="" class="item">
			<div class="image" style="background-image: url({$basePath}/images/obrazek.jpg)"></div>
			<h2>Text</h2>
		</a>
		<a href="" class="item">
			<div class="image" style="background-image: url({$basePath}/images/obrazek.jpg)"></div>
			<h2>Text</h2>
		</a>
		<a href="" class="item">
			<div class="image" style="background-image: url({$basePath}/images/obrazek.jpg)"></div>
			<h2>ZÁVĚREČNÁ LEKCE PÁROVÝCHTANCŮ PROSINEC 2016</h2>
		</a>
		<a href="" class="item">
			<div class="image" style="background-image: url({$basePath}/images/obrazek.jpg)"></div>
			<h2>Text</h2>
		</a>
	</div>
</div>
<section class="became-member">
	<a class="button" href="">Chci se stát členem klubu</a>
</section>
<div class="puma"><a href="" target="_blank"></a></div>