{block content}

<div class="gallery-popup">
	<div class="image-container">
		<a class="popup-close"></a>
		<img src="{$basePath}/images/foto.jpg" alt="">
		<span class="left"><span></span></span>
		<span class="right"><span></span></span>
	</div>
</div>