{block content}

<div class="hp">
{include '../elements/slider.latte'}
</div>

<div class="content-page">
	<section class="submenu-homepage">
		<a class="opening-hours" href="">
			<h2>Otevírací<br> doba</h2>
			<p>
				Po – Pá &nbsp; &nbsp; 6:30 – 23:00<br>
				So – Ne &nbsp; &nbsp; 8:00 – 22:00<br>
				info@balanceclub.cz<br>
				+420 234 749 811
			</p>
		</a>
		<a class="membership" href="">
			<h2>členství<br> v klubu</h2>
			<p>Chci se stát<br> členem</p>
		</a>
		<a class="schedule-link" href="">
			<h2>Rozvrh<br> hodin</h2>
			<p>Online rozvrh<br> a rezervace služeb</p>
		</a>
		<a class="login" href="">
			<h2>Přihlášení<br> pro členy</h2>
			<p>Spravujte své<br> služby</p>
		</a>
	</section>

	<ul class="contact-opening-hours contact-opening-hours-homepage">
		<li><span class="days">Pondělí až Pátek</span> <span class="time">6:30 – 23:00 hod.</span></li>
		<li><span class="days">víkendy a svátky</span> <span class="time">8:00 – 22:00 hod.</span></li>
		<li class="small"><a href="">info@balanceclub.cz</a></li>
		<li class="small"><a href="">+420 999 888 777</a></li>
	</ul>

	<section class="articles-homepage">
		<a class="item">
			<div class="image" style="background-image:url(/images/foto.jpg);"></div>
			<h2>STRONG EXTENDED VINYASA</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
		</a>

		<a class="item">
			<div class="image"></div>
			<h2>STRONG EXTENDED VINYASA</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
		</a>
		<a class="item item-full-image" >
			<div class="image" style="background-image:url(/images/foto.jpg);">
				<h2>STRONG EXTENDED EXTENDED <strong>VINYASA</strong></h2>
			</div>
		</a>
		<a class="item item-text" >
			<h2>28. 10. 2019 je státnísvátek, upozorňujemena změnu v otevíracídobě</h2>
		</a>
		<a class="item item-person" >
			<div class="image" style="background-image:url(/images/foto.jpg);">
				<div class="text">
					<h2>EVA EXTENDED</h2>
					<p>Lorem ipsum dolor </p>
				</div>
			</div>
		</a>
	</section>
	<section class="became-member">
		<a class="button" href="">Chci se stát členem klubu</a>
	</section>
</div>
<div class="puma puma-hp"><a href="" target="_blank"></a></div>