{block content}

{include '../elements/slider.latte'}

<div class="content-page content-page-bg">
	<h1>kARIÉRA</h1>
	<p class="subtitle">Do našeho týmu hledáme tyto pozice</p>

	<div class="content-thin">
		<ul class="list-gray list-gray-career">
			<li><a href="">CRM AND SALES CONSULTANT<br><span>Hlavní pracovní poměr</span></a></li>
			<li><a href="">OBSLUHA BARU VE FITNESS<br><span>Částečný úvazek - dohoda o pracovní činnosti</span> </a></li>
		</ul>
	</div>
</div>
<section class="became-member">
	<a class="button" href="">Chci se stát členem klubu</a>
</section>
<div class="puma"><a href="" target="_blank"></a></div>