{block content}

{include '../elements/slider.latte'}

<div class="content-page content-page-bg">
	<h1>OBSLUHA BARU VE FITNESS</h1>
	<p class="subtitle">Částečný úvazek - dohoda o pracovní činnosti</p>
	<a class="image-full-link" href=""><img src="{$basePath}/images/foto.jpg" class="image-full" alt=""><span class="arrow-right"></span></a>
	<div class="content-thin">
		<div class="text">
			<h2>KOHO HLEDÁME</h2>
			<p>Rozsáhlá rekonstrukce velké a klimatizované haly se dotkla jak designové stánky, tak vybudování nových zón a jejich vybavení nejlepšími fitness, cardio a funkčními stoji značky <strong>Technogym</strong> v řadách ARTIS a SELECTION PRO. Velký prostor zde dostala i funkční zóna Octagon od značky Escape pro cvičení s vlastní vahou.
			</p>
			<p>Designové zpracování strojů, respektující biomechaniku a přirozený pohyb s propojením s nejmodernější technologií, představuje to nejlepší na trhu fitness v České republice.</p>
			<h2> Požadujeme</h2>
			<ul>
				<li>prostorná a plně klimatizovaná fitness zóna
				</li><li>špičkové posilovací a cardio stroje značky Technogym
				</li><li>rozsáhlá funkční zóna Octagon od značky Escape
				</li><li>integrované cardio-cinema
				</li><li>vibrační plošina Power Plate®
				</li><li>osobní trénink
				</li><li>stretching zóna
				</li><li>fitness bar
				</li>
			</ul>
			<p class="gray">Odpovědí na tento inzerát či zasláním vašeho životopisu a případných dalších osobních materiálů Balance Club Brumlovka, a.s. dáváte souhlas ke shromažďování, zpracování a uchování Vašich osobních údajů dle zákona č. 101/2000 Sb., o ochraně osobních údajů. Tento souhlas platí až do jeho odvolání písemnou formou.</p>
		</div>
		<ul class="buttons-group">
			<li><a href="" class="btn">Mám zájem o tuto pozici</a> </li>
			<li><a href="" class="btn btn-facebook">Sdílet</a> </li>
		</ul>
	</div>
</div>
<div class="puma"><a href="" target="_blank"></a></div>