{block content}

{include '../elements/slider.latte'}

<div class="content-page content-page-bg">
	<h1>balance club brumlovka</h1>
	<p class="subtitle">Budova Brumlovka, Vyskočilova 1100/2, 140 00 Praha 4</p>
	<div class="content-thin">
		<ul class="contact-opening-hours">
			<li><span class="days">Pondělí až Pátek</span> <span class="time">6:30 – 23:00 hod.</span></li>
			<li><span class="days">víkendy a svátky</span> <span class="time">8:00 – 22:00 hod.</span></li>
		</ul>
		<ul class="list-gray">
			<li><a href=""><span class="blue">+420 234 749 811</span></a></li>
			<li><a href=""><span class="blue">info@balance club.cz</span></a></li>
		</ul>
	</div>
</div>
<div class="content-page content-page-bg">
	<h1>klientské centrum</h1>
	<p class="subtitle">Budova Brumlovka – naproti recepci, Vyskočilova 1100/2, 140 00 Praha 4</p>
	<div class="content-thin">
		<ul class="contact-opening-hours">
			<li><span class="days">Pondělí až Pátek</span> <span class="time">8:00 – 20:00 hod.</span></li>
			<li><span class="days">víkendy a svátky</span> <span class="time">10:00 – 16:00 hod.</span></li>
		</ul>
		<ul class="list-gray">
			<li><a href=""><span class="blue">+420 234 749 810 (813)</span></a></li>
			<li><a href=""><span class="blue">info@balance club.cz</span></a></li>
		</ul>
		<section class="contact-persons">
			<div class="person">
				<div class="photo" style="background-image: url({$basePath}/images/casopirs.jpg)"></div>
				<div class="info">
					<h2>Jaroslav Novotný</h2>
					<p class="position">vládce kosmu</p>
					<p>jaroslav.novotny&#8203;@balanceclub.cz<br>
						+420 727 894 704 </p>
				</div>
			</div>
			<div class="person">
				<div class="photo" style="background-image: url({$basePath}/images/foto.jpg)"></div>
				<div class="info">
					<h2>Jaroslav Novotný</h2>
					<p class="position">zarikavac hadu</p>
					<p>jaroslav.novotny&#8203;@balanceclub.cz<br>
						+420 727 894 704 </p>
				</div>
			</div>
		</section>
	</div>
</div>
<div class="contact-map">
	<iframe src="https://api.mapy.cz/frame?params=%7B%22x%22%3A14.455220222473145%2C%22y%22%3A50.04749298095703%2C%22base%22%3A%221%22%2C%22layers%22%3A%5B%5D%2C%22zoom%22%3A17%2C%22url%22%3A%22https%3A%2F%2Fmapy.cz%2Fs%2F3x7jA%22%2C%22mark%22%3A%7B%22x%22%3A%2214.455220222473145%22%2C%22y%22%3A%2250.04749298095703%22%2C%22title%22%3A%22Balance%20Club%20Brumlovka%2C%20a.s.%22%7D%2C%22overview%22%3Afalse%7D&amp;width=100%&amp;height=520&amp;lang=cs" width="100%" height="520" style="border:none" frameBorder="0"></iframe>
</div>
<section class="became-member">
	<a class="button" href="">Chci se stát členem klubu</a>
</section>
<div class="puma"><a href="" target="_blank"></a></div>