{block content}

<div class="lecture-popup">
	<div class="container">
		<a class="popup-close"></a>
		<img src="/images/drsoni.jpg" class="main-image" alt="">
		<div class="data">
			<h2>aby záda zdravá byla<br> a srdce v dobré kondici</h2>
			<p>Maya Mašková<br><br>
				<span class="row">Datum: <strong>15. 12. 2018</strong></span>
				<span class="row">Hodina: <strong>15:00</strong></span>
				<span class="row">Sál: <strong>15</strong></span>
				<span class="row">Obtížnost: <span class="level level-3 color-green"></span></span>
			</p>
		</div>
		<ul class="buttons">
			<li><a class="btn-back" href="">Více o lekci</a></li>
			<li><a class="btn-back" href="">Více o instruktorovi</a></li>
		</ul>
	</div>
</div>