{block content}

{include '../elements/slider.latte'}

<div class="content-page content-page-bg">
	<h1>masáže</h1>
	<p class="subtitle">Balance Club Brumlovka jich nabízí celou řadu.<br> Od čistě relaxačních až po zdravotní a léčebné.</p>
	<a class="image-full-link" href=""><img src="{$basePath}/images/foto.jpg" class="image-full" alt=""><span class="arrow-right"></span></a>

	<div class="content-thin">
		<div class="text">
			<p>
				Masáž patří k nejstarším léčebným prostředkům v historii lidstva. Zlepšuje svalovou a kloubní činnost a velmi pozitivně působí na tělesný i duševní stav člověka. Při masáži dochází k uvolnění ztuhlých svalů a kloubů, zlepšuje se prokrvení a tím i látková výměna.
			</p><p>
				Vhodně zvolená masáž má příznivý účinek na organismus i při zotavování po nemoci či úrazu. Existuje mnoho masážních technik.
			</p>
			<h2>REZERVACE VAŠEHO TERMÍNU MASÁŽE</h2>
			<p>Bližší informace o masážích a volných termínech záskáte na recepci klubu + 420 234 749 811. Maséry a jejich specializace naleznete v LIDÉ.</p>
			<h2>druhy masáží</h2>
		</div>
		<ul class="list-gray list-gray-career">
			<li><a href="">CARIBBEAN SHIM SHAM<br><span>Maséři: Petra Kellerová, Alena Štrbavá, Pavla Skružná, Lilija Nováková</span></a></li>
			<li><a href="">COMFORT ZONE FOOT SPECIALIST<br><span>Maséři: Petra Kellerová, Alena Štrbavá, Pavla Skružná, Lilija Nováková</span> </a></li>
		</ul>
	</div>
</div>
<section class="became-member">
	<a class="button" href="">Chci se stát členem klubu</a>
</section>
<div class="puma"><a href="" target="_blank"></a></div>