{block content}

{include '../elements/slider.latte'}

<div class="content-page content-page-bg">
	<h1>COMFORT ZONE FOOT SPECIALIST</h1>
	<p class="subtitle">Maséři: Petra Kellerová, Alena Štrbavá, Pavla Skružná, Lilija Nováková</p>
	<a class="image-full-link" href=""><img src="{$basePath}/images/foto.jpg" class="image-full" alt=""><span class="arrow-right"></span></a>
	<div class="content-thin">
		<div class="text">
			<p>Comfort Zone Foot Specialist je šetrné odstranění zrohovatělé pokožky v kombinaci s uvolňující reflexní masáží chodidel. Pedikérské ošetření, při kterém se používají jednorázové bandáže navlhčené v mléčné a glykolové kyselině a obnovující peeling s nimbovým extraktem, omladí pokožku chodidel.
			</p>
				<p>Masáž napomáhá odbourávání zablokovaných energetických kanálů, odstraňuje pocit těžkých nohou, reflexně ošetřuje bolest páteře a hlavy. Pozitivně ovlivňuje krevní oběh, podporuje lymfatický systém, urychluje detoxikaci organismu a posiluje imunitu, má preventivní účinky na bolesti svalů a je pomocnou léčbou u funkčních poruch trávení a vylučování.
			</p><p>
				<strong>Délka masáže: 60, 90 minut</strong>
			</p>
		</div>
		<div class="btn-container">
			<a href="" class="btn">Rezervace masáže</a>
		</div>
	</div>
</div>
<div class="content-page content-page-bg">
	<div class="content-thin">
		<div class="text">
			<h2 class="center">druhy masáží</h2>
		</div>
		<ul class="list-gray list-gray-career">
			<li><a href="">CARIBBEAN SHIM SHAM<br><span>Maséři: Petra Kellerová, Alena Štrbavá, Pavla Skružná, Lilija Nováková</span></a></li>
			<li><a href="">COMFORT ZONE FOOT SPECIALIST<br><span>Maséři: Petra Kellerová, Alena Štrbavá, Pavla Skružná, Lilija Nováková</span> </a></li>
		</ul>
	</div>
</div>
<section class="became-member">
	<a class="button" href="">Chci se stát členem klubu</a>
</section>
<div class="puma"><a href="" target="_blank"></a></div>