{block content}

<div class="content-page content-page-bg content-page-profile">
	<h1 class="without-subtitle">Změnit heslo</h1>
	<div class="content-thin">
		<div class="change-password">
			<div class="form-input">
				<label for="i1">Staré heslo</label>
				<input type="password" id="i1" placeholder=" ">
			</div>
			<div class="form-input extra-margins">
				<label for="i2">Nové heslo</label>
				<input type="password" id="i2" placeholder=" ">
			</div>
			<div class="form-input">
				<label for="i3">Nové heslo znovu</label>
				<input type="password" id="i3" placeholder=" ">
			</div>
			<div class="form-submit">
				<input type="submit" class="btn" value="Změnit heslo">
			</div>
		</div>
	</div>
</div>
<div class="content-page content-page-bg content-page-profile">
	<h1>Nastavit upozornění</h1>
	<p class="subtitle">Jestliže chcete být informováni o začátku Vámi rezervované služby na Váš e-mail či formou SMS, nastavte si čas pripomenutí.</p>
	<div class="content-thin">
		<div class="settings">
			<div>
				<a href="" class="row row-arrow"><span class="time"><strong>23:59</strong></span> <span class="title"><strong>upravit čas upozornění</strong></span></a>
			</div>
			<div>
				<a href="" class="row row-switch-on"><span class="title"><strong>upozornění na email</strong> (zapnuto)</span></a>
				<div class="info">
					<ul>
						<li><a href=""><strong>1</strong>den</a></li>
						<li><a href="" class="active"><strong>2</strong>dny</a></li>
						<li><a href=""><strong>3</strong>dny</a></li>
						<li><a href=""><strong>4</strong>dny</a></li>
						<li class="new-line"><a href=""><strong>1</strong>hod.</a></li>
						<li><a href=""><strong>2</strong>hod.</a></li>
						<li><a href=""><strong>3</strong>hod.</a></li>
						<li><a href=""><strong>6</strong>hod.</a></li>
						<li><a href=""><strong>12</strong>hod.</a></li>
					</ul>
				</div>
			</div>
			<div>
				<a href="" class="row row-switch-off"><span class="title"><strong>upozornění na email</strong> (vypnuto)</span></a>
			</div>
		</div>
	</div>
</div>

<section class="became-member">
	<a class="button" href="">Máte dotaz ohledně vašeho členství?</a>
</section>
<div class="puma"><a href="" target="_blank"></a></div>