{block content}

<div class="clock-popup">
	<div class="container">
		<a class="popup-close"></a>
		<p>Upozornit mě</p>
		<div class="numbers">
			<div class="number">
				<label for="name1">hodiny</label>
				<input type="number" id="name1" value="1" >
			</div>
			<div class="number">
				<label for="name2">minuty</label>
				<input type="number" id="name2" value="99" >
			</div>
		</div>
		<p>před začátkem</p>
		<div class="form-submit">
			<input type="submit" value="Uložit" class="btn" />
		</div>
	</div>
</div>