{block content}

{include '../elements/slider.latte'}

<div class="content-page content-page-bg">
	<h1 class="without-subtitle">INFORMAČNÍ MEMORANDUM SE ZPRACOVÁNÍM <br>OSOBNÍCH ÚDAJŮ</h1>
	<div class="content-ultra-thin">
		<div class="text">
			<p><strong>Vážení zákazníci a obchodní partneři</strong>, tento dokument obsahuje základní informace ohledně toho, jak zpracováváme vaše osobní údaje. Vážíme si toho, že s námi své osobní údaje sdílíte a jsme připraveni je v maximální možné míře chránit. Rovněž se snažíme být ve vztahu k vám co nejvíce otevření, zejména ohledně toho, jak vaše osobní údaje zpracováváme.
			</p><p>
				Vzhledem k nové legislativě Evropské unie, bylo toto informační memorandum připraveno v souladu s Nařízením Evropského parlamentu a Rady (EU) 2016/679 ze dne 27. dubna 2016 o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů a o zrušení směrnice 95/46/ES (dále jen „GDPR“).
			</p><p>
				Toto informační memorandum předkládá základní informace, které jsme jako správce osobních údajů povinni poskytnout. Pokud by vás zajímaly detailní zásady zpracování osobních údajů, kterými se řídíme, naleznete je v našich Zásadách ochrany osobních údajů přístupných na www.balanceclub.cz&zwnj;&#8203;/zasady_ochrany_osobnich_udaju</p>
			<h2>1. Kdo je správcem osobních údajů?
			</h2>
			<P>lorem ipsum</P>
		</div>
	</div>
</div>
<section class="became-member">
	<a class="button" href="">Chci se stát členem klubu</a>
</section>
<div class="puma"><a href="" target="_blank"></a></div>