{block content}

<div class="content-page content-page-bg">
	<h1>Partneři</h1>
	<p class="subtitle">Partnery Balance Clubu Brumlovka se můžete stát i vy.</p>
	<div class="content-ultra-thin">
		<div class="text">
			<p>Představte svou firmu, značku nebo produkt v našem klubu, staňte se se svým výrobkem součástí námi nabízeného sortimentu. Nebojte se prezentovat ve špičkovém klubu, který funguje na bázi klubového členství. Máte možnost zviditelnit se, prezentovat se právě zde a ukázat lidem, že i vy jste partnerem zdravého životního stylu.
			</p><p>
				Máte-li zajímavý produkt nebo službu, který by byl v souladu s filosofií klubu a cílovou skupinou, kontaktujte náš manažerský tým.
			</p>
		</div>
	</div>
	<div class="content-thin">
		<ul class="partners">
			<li style="background-image: url(https://www.balanceclub.cz/upload/partners/52/216x110_hover.png);"><a href="" target="_blank"
				style="background-image: url(https://www.balanceclub.cz/upload/partners/52/216x110.png)">www.mrsk.cz</a></li>

			<li style="background-image: url(https://www.balanceclub.cz/upload/partners/53/216x110_hover.png);"><a href="" target="_blank"
			   style="background-image: url(https://www.balanceclub.cz/upload/partners/53/216x110.png)">www.mrsk.cz</a></li>

			<li style="background-image: url(https://www.balanceclub.cz/upload/partners/52/216x110_hover.png);"><a href="" target="_blank"
				style="background-image: url(https://www.balanceclub.cz/upload/partners/52/216x110.png)">www.mrsk.cz</a></li>

			<li style="background-image: url(https://www.balanceclub.cz/upload/partners/52/216x110_hover.png);"><a href="" target="_blank"
				style="background-image: url(https://www.balanceclub.cz/upload/partners/52/216x110.png)">www.mrsk.cz</a></li>

			<li style="background-image: url(https://www.balanceclub.cz/upload/partners/52/216x110_hover.png);"><a href="" target="_blank"
				style="background-image: url(https://www.balanceclub.cz/upload/partners/52/216x110.png)">www.mrsk.cz</a></li>

			<li style="background-image: url(https://www.balanceclub.cz/upload/partners/52/216x110_hover.png);"><a href="" target="_blank"
                style="background-image: url(https://www.balanceclub.cz/upload/partners/52/216x110.png)">www.mrsk.cz</a></li>
		</ul>
	</div>
</div>
<section class="became-member">
	<a class="button" href="">Chci se stát členem klubu</a>
</section>
<div class="puma"><a href="" target="_blank"></a></div>