{block content}

<div class="content-page content-page-bg content-page-profile">
	<h1>platba členství</h1>
	<p class="subtitle">Členství můžete uhradit převodem na účet nebo online platební kartou.
	</p>
	<div class="content-thin">
		<div class="credits">
			<div class="row row-selected">
				<span class="title">Vaše měsíční členství</span>
				<span class="value">1 550 Kč</span>
			</div>
			<div class="row">
				<span class="title"><span class="light"> stav plateb</span></span>
				<span class="value">0 Kč</span>
			</div>
		</div>
		<div class="text">
			<h2>Platba online platební kartou</h2>
		</div>
		<div class="credits">
			<a href="" class="row">
				<span class="title"><span class="light">Zaplatit 1 měsíc členství</span></span>
				<span class="value">3 100 Kč</span>
			</a>
			<a href="" class="row">
				<span class="title"><span class="light">Zaplatit 2 měsíce členství</span></span>
				<span class="value">7 100 Kč</span>
			</a>
			<a href="" class="row">
				<span class="title"><span class="light">Zaplatit 6 měsíců členství</span></span>
				<span class="value">21 100 Kč</span>
			</a>
			<div class="row">
				<span class="title"><input type="number" placeholder="Zadejte vlastní částku"></span>
				<span class="value value-submit"><input type="submit" class="submit" value="Zaplatit"></span>
			</div>
		</div>
		<div class="text">
			<h2>Platba převodem na účet</h2>
		</div>
		<div class="table-wired">
			<div class="row">
				<span class="cell">Číslo účtu Balance Clubu Brumlovka</span>
				<span class="cell right">805737018 / 2700</span>
			</div>
			<div class="row">
				<span class="cell">Váš variabilní symbol</span>
				<span class="cell right">2700</span>
			</div>
		</div>

	</div>

</div>
<section class="became-member">
	<a class="button" href="">Máte dotaz ohledně vašeho členství?</a>
</section>
<div class="puma"><a href="" target="_blank"></a></div>