{block content}

<div class="login-popup">
	<div class="container">
		<a class="popup-close"></a>
		<h2>přihlášení pro členy</h2>
		<div class="form-input">
			<label for="name">E-mail</label>
			<input type="text" id="name" placeholder=" ">
		</div>
		<div class="form-input form-input-password">
			<label for="name1">Heslo</label>
			<input type="password" id="name1" placeholder=" ">
			<span class="show-password-btn"></span>
		</div>
		<div class="form-checkbox">
			<input type=checkbox id="name3">
			<label for="name3">
				Zapamatovat přihlášení
			</label>
		</div>
		<a href="" class="link-forgotten-password">
			Zapomenuté heslo
		</a>
		<div class="form-submit">
			<input type="submit" value="Přihlásit" class="btn" />
		</div>
	</div>
</div>