{block content}

<div class="content-page content-page-bg content-page-profile">
	<ul class="levels">
		<li class="level-1 "></li>
		<li class="level-2 active"></li>
		<li class="level-3 "></li>
		<li class="level-4 "></li>
	</ul>
	<h1>Jaroslav novák</h1>
	<p class="subtitle">Stav kreditu: <strong>1 550 Kč</strong></p>
	<ul class="menu-profile">
		<li><a href="" class="o1">věrnostní<br>program</a></li>
		<li><a href="" class="o2">rezervované<br>služby</a></li>
		<li><a href="" class="o3">platba<br>členství</a></li>
		<li><a href="" class="o4">dobití<br>kreditu</a></li>
		<li><a href="" class="o5">rezervace masáží</a></li>
		<li><a href="" class="o6">moje výhody</a></li>
		<li><a href="" class="o7 disabled">dokumenty</a></li>
		<li><a href="" class="o8 disabled">nastavení</a></li>
	</ul>
</div>
<section class="became-member">
	<a class="button" href="">Máte dotaz ohledně vašeho členství?</a>
</section>
<div class="puma"><a href="" target="_blank"></a></div>