{block content}

<div class="content-page content-page-bg content-page-profile">
	<h1>REZERVOVANÉ SLUŽBY</h1>
	<div class="content-thin">
		<div class="text">
			<p>V případě, že nevyužijete rezervované služby a tuto skutečnost neoznámíte klubu alespoň <strong>12 hodin předem</strong>, je nutné uhradit objednanou službu v plné výši. </p>
		</div>
		<div class="service-reserved">
			<h2>Aromasoul Vulcanic Scrub + Elements Rituals Aromasoul Vulcanic Scrub + Elements Rituals</h2>
			<div class="row">
				<div class="title">Začátek</div>
				<div class="data"><strong>24. 12. 2019</strong> - 17:30 od 24. 12. 2019 - 17:30</div>
			</div>
			<div class="row">
				<div class="title">Masér/ka</div>
				<div class="data">Martin Mrsk</div>
			</div>
			<div class="row">
				<a class="link link-disabled">Zrušit masáž</a>
			</div>
		</div>
		<div class="service-reserved">
			<h2>Aromasoul Vulcanic Scrub + Elements Rituals</h2>
			<div class="row">
				<div class="title">Začátek</div>
				<div class="data">24. 12. 2019 - 17:30</div>
			</div>
			<div class="row">
				<div class="title">Masér/ka</div>
				<div class="data">Martin Mrsk</div>
			</div>
			<div class="row">
				<a class="link" href="">Zrušit masáž</a>
			</div>
		</div>
	</div>

</div>
<section class="became-member">
	<a class="button" href="">Máte dotaz ohledně vašeho členství?</a>
</section>
<div class="puma"><a href="" target="_blank"></a></div>