{block content}

<div class="massage-popup">
	<div class="container container-step-3">
		<a class="popup-close"></a>
		<div class="bg-gray">
			<div class="person">
				<div class="image">
					<img src="/images/xicht.jpg" alt="">
				</div>
				<div class="data">
					<h3>Balance (klasická, sport, relax)</h3>
					<p>Maya Mašková<br>
						5. 10. 2019<br>
						17:00 - 17:30 (30 minut)<br>
						<strong>550 Kč</strong>
					</p>
				</div>
			</div>
		</div>
		<p class="agree-text">
			Pokud jste s výběrem masáže spokojen(a), potvrďte závazně Vaši rezervaci. O rezervaci budete informováni emailem a v sekci Rezervované služby.
			<br><br>
			<strong>UPOZORNĚNÍ: Rezervovanou masáž je možné zrušit pouze do 12 hodin před jejím začátkem.</strong>
		</p>
		<div class="form-input">
			<input type="text" placeholder="Vložit poznámku">
		</div>
		<div class="buttons"><a class="btn-back" href="">Zpět</a><a class="btn-confirm" href="">potvrdit rezervaci</a></div>
	</div>
</div>