{block content}

<div class="content-page content-page-bg content-page-profile">
	<h1>REZERVACE MASÁŽÍ</h1>
	<div class="content-ultra-thin">
		<div class="text">
			<p>Rezervujte si masáž online. Zde naleznete přehled volných termínů a terapeutů. Informace o cenách a také popisy jednotlivých nabízených masáží naleznete také ZDE.
			</p><p>
				V případě, že nevyužijete rezervované služby a tuto skutečnost neoznámíte klubu alespoň 12 hodin předem, je nutné uhradit objednanou službu v plné výši. </p>
		</div>
	</div>
	<div class="massage-reservations">
		<div class="filter">
			<div class="select">
				<select>
					<option>test</option>
					<option>test 2</option>
				</select>
			</div>
			<div class="select">
				<select>
					<option>test</option>
					<option>test 2</option>
				</select>
			</div>
			<div class="select">
				<select>
					<option>test</option>
					<option>test 2</option>
				</select>
			</div>
		</div>

		<h2>Pondělí 12. 10. 2019</h2>
		<ul class="calendar">
			<li><span class="cell">6:00 - 6:30</span></li>
			<li><a class="cell" href="">23:00 - 23:30</a></li>
			<li><a class="cell" href="">6:00 - 6:30</a></li>
			<li><a class="cell" href="">23:00 - 23:30</a></li>
			<li><a class="cell" href="">6:00 - 6:30</a></li>
			<li><a class="cell" href="">23:00 - 23:30</a></li>
			<li><a class="cell" href="">6:00 - 6:30</a></li>
			<li><a class="cell" href="">23:00 - 23:30</a></li>
			<li><a class="cell" href="">6:00 - 6:30</a></li>
			<li><a class="cell" href="">23:00 - 23:30</a></li>
			<li><a class="cell" href="">6:00 - 6:30</a></li>
			<li><a class="cell" href="">23:00 - 23:30</a></li>
			<li><a class="cell" href="">6:00 - 6:30</a></li>
			<li><a class="cell" href="">23:00 - 23:30</a></li>
			<li><a class="cell" href="">6:00 - 6:30</a></li>
			<li><a class="cell" href="">23:00 - 23:30</a></li>
		</ul>
		<h2>Utery 12. 10. 2019</h2>
		<ul class="calendar">
			<li><span class="cell">6:00 - 6:30</span></li>
			<li><a class="cell" href="">23:00 - 23:30</a></li>
			<li><a class="cell" href="">6:00 - 6:30</a></li>
			<li><a class="cell" href="">23:00 - 23:30</a></li>
			<li><a class="cell" href="">6:00 - 6:30</a></li>
			<li><a class="cell" href="">23:00 - 23:30</a></li>
			<li><a class="cell" href="">6:00 - 6:30</a></li>
			<li><a class="cell" href="">23:00 - 23:30</a></li>
			<li><a class="cell" href="">6:00 - 6:30</a></li>
			<li><a class="cell" href="">23:00 - 23:30</a></li>
			<li><a class="cell" href="">6:00 - 6:30</a></li>
			<li><a class="cell" href="">23:00 - 23:30</a></li>
			<li><a class="cell" href="">6:00 - 6:30</a></li>
			<li><a class="cell" href="">23:00 - 23:30</a></li>
			<li><a class="cell" href="">6:00 - 6:30</a></li>
			<li><a class="cell" href="">23:00 - 23:30</a></li>
		</ul>
	</div>
</div>
<section class="became-member">
	<a class="button" href="">Máte dotaz ohledně vašeho členství?</a>
</section>
<div class="puma"><a href="" target="_blank"></a></div>