{block content}

<div class="massage-popup">
	<div class="container container-step-1">
		<a class="popup-close"></a>
		<h2>Zvolte typ <br>a délku masáže</h2>
		<div class="persons">
			<a href="" class="person">
				<div class="image">
					<img src="/images/xicht.jpg" alt="">
				</div>
				<div class="data">
					<h3>Balance (klasická, sport, relax)</h3>
					<p>Maya Mašková<br>
						<strong>30 minut, 60 minut, 90 minut, 120 minut</strong>
					</p>
				</div>
			</a>
			<ul class="massage-length">
				<li><a href=""><strong>30</strong> minut</a></li>
				<li class="disabled"><a href=""><strong>60</strong> minut</a></li>
				<li><a href=""><strong>90</strong> minut</a></li>
				{*<li><a href=""><strong>120</strong> minut</a></li>*}
			</ul>
			<a href="" class="person">
				<div class="image">
					<img src="/images/xicht.jpg" alt="">
				</div>
				<div class="data">
					<h3>Balance (klasická, sport, relax)</h3>
					<p>Maya Mašková<br>
						<strong>30 minut, 60 minut, 90 minut, 120 minut</strong>
					</p>
				</div>
			</a>
			<ul class="massage-length">
				<li><a href=""><strong>30</strong> minut</a></li>
				<li class="disabled"><a href=""><strong>60</strong> minut</a></li>
				<li><a href=""><strong>90</strong> minut</a></li>
				<li><a href=""><strong>120</strong> minut</a></li>
			</ul>
			<a href="" class="person">
				<div class="image">
					<img src="/images/xicht.jpg" alt="">
				</div>
				<div class="data">
					<h3>Balance (klasická, sport, relax)</h3>
					<p>Maya Mašková<br>
						<strong>30 minut, 60 minut, 90 minut, 120 minut</strong>
					</p>
				</div>
			</a>
			<ul class="massage-length">
				<li><a href=""><strong>30</strong> minut</a></li>
				<li><a href=""><strong>60</strong> minut</a></li>
			</ul>
		</div>
		<a class="btn-back" href="">Zpět</a>
	</div>
</div>

{/block}
{block scripts}
<script>
	$(function () {
		$(".person").on('click', function (e) {
			e.preventDefault();
			$(this).toggleClass('person-selected');
        })
    })();
</script>