{block content}

<div class="massage-popup">
	<div class="container container-step-4">
		<a class="popup-close"></a>
		<h2>Vaše rezervace<br> byla úspěšná</h2>
		<p>Potvrzení o rezervaci Vám<br> zašleme na email.
		</p>
		<a class="btn" href="">Rezervované služby</a>
	</div>
</div>