{block content}

<div class="schedule-section-no-responsive">

	<div class="content-page content-page-bg content-page-profile">
		<div class="schedule-filter">
			<h1>Rozvrh hodin</h1>
			<p class="subtitle">12. 11. – 18. 11. 2018</p>
			<div class="filters">
				<div class="select"><select>
						<option>Týden 12. 10 - 18. 10</option>
						<option>Týden 12. 10 - 18. 10</option>
						<option>Týden 12. 10 - 18. 10</option>
					</select></div>
				<div class="select"><select>
						<option>Všechny lekce</option>
					</select></div>
				<div class="select"><select>
						<option>Všechny dny</option>
					</select></div>
				<div class="select"><select>
						<option>Všichni instruktoři</option>
					</select></div>
						</div>
			<div class="btn-container">
				<input type="submit" value="Uložit rozvrh hodin" class="btn">
			</div>
			<ul class="buttons">
				<li><a href="" class="button">Popis lekcí</a></li>
				<li><a href="" class="button">Náš tým</a></li>
			</ul>
		</div>
	</div>

	<div class="schedule">
		<div class="row">
			<div class="head"><strong>Pondělí</strong> 12.12.2012</div>
			<div class="head highlight"><strong>Úterý</strong> 12.12.2012</div>
			<div class="head"><strong>Pondělí</strong> 12.12.2012</div>
			<div class="head"><strong>Pondělí</strong> 12.12.2012</div>
			<div class="head"><strong>Pondělí</strong> 12.12.2012</div>
			<div class="head"><strong>Pondělí</strong> 12.12.2012</div>
			<div class="head"><strong>Neděle</strong> 12.12.2012</div>
		</div>
		<div class="row">
			<a href="" class="cell color-green">
				<div class="heading"><span class="time">14:00 - 15:00</span> <span class="object">SAL 44</span></div>
				<h2>kruhový trénink</h2>
				<div class="person">Veronika Motyčková</div>
				<div class="level"></div>
			</a>
			<a href="" class="cell color-violet bg-2">
				<div class="heading"><span class="time">14:00 - 15:00</span> <span class="object">SAL 44</span></div>
				<h2>kruhový trénink kruhový trénink kruhový trénink</h2>
				<div class="person">Veronika Motyčková</div>
				<div class="level  level-2"></div>
			</a>
			<a href="" class="cell color-blue">
				<div class="heading"><span class="time">14:00 - 15:00</span> <span class="object">SAL 44</span></div>
				<h2>kruhový trénink</h2>
				<div class="person">Veronika Motyčková</div>
				<div class="level level-3"></div>
			</a>
			<a href="" class="cell color-violet  bg-2">
				<div class="heading"><span class="time">14:00 - 15:00</span> <span class="object">SAL 44</span></div>
				<h2>kruhový trénink kruhový trénink kruhový trénink</h2>
				<div class="person">Veronika Motyčková</div>
				<div class="level level-2"></div>
			</a>
			<a href="" class="cell color-green">
				<div class="heading"><span class="time">14:00 - 15:00</span> <span class="object">SAL 44</span></div>
				<h2>kruhový trénink</h2>
				<div class="person">Veronika Motyčková</div>
				<div class="level"></div>
			</a>
			<a href="" class="cell color-violet  bg-2">
				<div class="heading"><span class="time">14:00 - 15:00</span> <span class="object">SAL 44</span></div>
				<h2>kruhový trénink kruhový trénink kruhový trénink</h2>
				<div class="person">Veronika Motyčková</div>
				<div class="level level-2"></div>
			</a>
			<a href="" class="cell color-green">
				<div class="heading"><span class="time">14:00 - 15:00</span> <span class="object">SAL 44</span></div>
				<h2>kruhový trénink</h2>
				<div class="person">Veronika Motyčková</div>
				<div class="level"></div>
			</a>
		</div>
		<div class="row">
			<a href="" class="cell color-violet">
				<div class="heading"><span class="time">14:00 - 15:00</span> <span class="object">SAL 44</span></div>
				<h2>kruhový trénink kruhový trénink kruhový trénink</h2>
				<div class="person">Veronika Motyčková</div>
				<div class="level level-2"></div>
			</a>
			<a href="" class="cell bg-2 color-none">
				<div class="heading"><span class="time">14:00 - 15:00</span> <span class="object">SAL 44</span></div>
				<h2>kruhový trénink kruhový trénink kruhový trénink</h2>
				<div class="person">Veronika Motyčková</div>
				<div class="level level-2"></div>
			</a>
			<a class="cell"></a>
			<a class="cell  bg-2"></a>
			<a class="cell"></a>
			<a class="cell  bg-2"></a>
			<a class="cell"></a>
		</div>
	</div>
	<div class="schedule-info">
		<a href="">Rámcový rozvrh</a>
		<ul>
			<li>Začátečník</li>
			<li>Středně pokročilý</li>
			<li>Pokročilý</li>
		</ul>
	</div>
	<ul class="schedule-type">
		<li class="color-caribbean-green"><a href="">Silové lekce</a></li>
		<li class="color-yellow"><a href="">Body&Mind</a></li>
		<li class="color-green"><a href="">Cycling</a></li>
		<li class="color-blue"><a href="">Bazén</a></li>
		<li class="color-pink"><a href="">Tance</a></li>
		<li class="color-violet"><a href="">Akce</a></li>
	</ul>
	<div class="btn-container"><a href="" class="btn btn-arrow-right">Zobrazit další týden</a> </div>

	<div class="puma"><a href="" target="_blank"></a></div>

</div>
<div class="schedule-section-responsive">

	<div class="schedule-header">
		<div class="row">
			<a class="left {*left-arrow-hidden*}" href=""></a>
			<a class="right right-small" href=""></a>
			<div class="date"><strong>Úterý</strong><span class="date">11.11.2011</span></div>
			<a class="right" href=""></a>
			<a class="icon-settings" href=""></a>
		</div>
		<ul class="filter">
			<li><span><label>Týden<select id="week"><option >test 1</option><option >test 2</option></select></label></span></li>
			<li><span class="highlight"><label>Lekce<select id="lecture"><option>test dlouhy</option></select></label></span></li>
			<li><span><label>Instruktoři<select id="persons"><option>test dlouhy</option></select></label></span></li>
			<li><span><label>Den<select id="day"><option>test dlouhy</option><option>test jeste delsi</option></select></label></span></li>
		</ul>
	</div>

	<div class="schedule-mobile">
		<a href="" class="cell color-green">
			<div class="heading"><span class="time">14:00 - 15:00</span> <span class="object">SAL 44</span></div>
			<h2>kruhový trénink</h2>
			<div class="person">Veronika Motyčková</div>
			<div class="level"></div>
		</a>
		<a href="" class="cell color-blue">
			<div class="heading"><span class="time">14:00 - 15:00</span> <span class="object">SAL 44</span></div>
			<h2>kruhový trénink</h2>
			<div class="person">Veronika Motyčková</div>
			<div class="level"></div>
		</a>
		<a href="" class="cell color-pink">
			<div class="heading"><span class="time">14:00 - 15:00</span> <span class="object">SAL 44</span></div>
			<h2>kruhový trénink</h2>
			<div class="person">Veronika Motyčková</div>
			<div class="level level-3"></div>
		</a>
		<a href="" class="cell color-none">
			<div class="heading"><span class="time">14:00 - 15:00</span> <span class="object">SAL 44</span></div>
			<h2>kruhový trénink</h2>
			<div class="person">Veronika Motyčková</div>
			<div class="level level-3"></div>
		</a>
	</div>

	<div class="btn-container"><a href="" class="btn">Uložit rozvrh hodin</a> </div>
	<div class="schedule-info">
		<a href="">Rámcový rozvrh</a>
		<ul>
			<li>Začátečník</li>
			<li>Středně pokročilý</li>
			<li>Pokročilý</li>
		</ul>
	</div>

</div>