{block content}

{include '../elements/slider.latte'}

<div class="content-page content-page-bg">
	<h1>NÁŠ TÝM</h1>
	<p class="subtitle">lorem ipsum dolor imptehotol houmpl juet</p>
	<div class="content-middle">
		<div class="text">
			<h2>vedení klubu</h2>
			<div class="team">
				<a href="" class="person">
					<div class="photo" style="background-image: url({$basePath}/images/person.jpg)"></div>
					<p>Zuzana Steigerwaldová</p>
				</a>
				<a href="" class="person">
					<div class="photo" style="background-image: url({$basePath}/images/person.jpg)"></div>
					<p>Zuzana Steigerwaldová</p>
				</a>
			</div>
			<h2>OSOBNÍ TRENÉŘI A INSTRUKTOŘI FITNESS</h2>
			<div class="team">
				<a href="" class="person">
					<div class="photo" style="background-image: url({$basePath}/images/person.jpg)"></div>
					<p>Zuzana Steigerwaldová</p>
				</a>
				<a href="" class="person">
					<div class="photo" style="background-image: url({$basePath}/images/person.jpg)"></div>
					<p>Zuzana Steigerwaldová</p>
				</a>
				<a href="" class="person">
					<div class="photo" style="background-image: url({$basePath}/images/person.jpg)"></div>
					<p>Zuzana Steigerwaldová</p>
				</a>
				<a href="" class="person">
					<div class="photo" style="background-image: url({$basePath}/images/person.jpg)"></div>
					<p>Zuzana Steigerwaldová</p>
				</a>
				<a href="" class="person">
					<div class="photo" style="background-image: url({$basePath}/images/person.jpg)"></div>
					<p>Zuzana Steigerwaldová</p>
				</a>
			</div>

			<h2>NUTRIČNÍ PORADKYNĚ</h2>
			<div class="team">
				<a href="" class="person">
					<div class="photo" style="background-image: url({$basePath}/images/person.jpg)"></div>
					<p>Zuzana Steigerwaldová</p>
				</a>
				<a href="" class="person">
					<div class="photo" style="background-image: url({$basePath}/images/person.jpg)"></div>
					<p>Zuzana Steigerwaldová</p>
				</a>
				<a href="" class="person">
					<div class="photo" style="background-image: url({$basePath}/images/person.jpg)"></div>
					<p>Zuzana Steigerwaldová</p>
				</a>
			</div>
		</div>
	</div>
</div>
<section class="became-member">
	<a class="button" href="">Chci se stát členem klubu</a>
</section>
<div class="puma"><a href="" target="_blank"></a></div>