{block content}

{include '../elements/slider.latte'}

<div class="content-page content-page-bg">
	<h1>Dan Medynský</h1>
	<p class="subtitle">Fitness coordinator, osobní trenér</p>
	<img src="{$basePath}/images/medy.jpg" class="image-full" alt="">
	<div class="content-ultra-thin">
		<div class="text">
			<h2>CO PRO MĚ ZNAMENÁ SPORT?
			</h2>
			<p>Pro mě není sport pouhým tréninkem, je to životní styl. Člověk zjišťuje svoje maxima a poznává sám sebe. Nezáleží, jak na tom zrovna jste. Hlavní je, aby u toho byl člověk spokojený a bavil se. Sport je krasný díky okamžiku, ve kterém vypustíte všechny myšlenky a myslíte jen na tu danou chvíli.</p>
			<ul>
				<li>Trenérský kurz NORMAN´S ACADEMY
				</li><li>RKC Kettlebell
				</li><li>Oktagon funkční pomůcky</li>
			</ul>
		</div>
		<ul class="list-gray">
			<li><a href="" class="blue">dan.medynsky@balanceclub.cz</a></li>
		</ul>
	</div>
</div>
<section class="became-member">
	<a class="button" href="">Chci se stát členem klubu</a>
</section>
<div class="puma"><a href="" target="_blank"></a></div>