{block content}

<div class="content-page content-page-bg content-page-profile">
	<h1>Věrnostní program</h1>
	<p class="subtitle">Čerpejte výhody plynoucí z vašeho členství. Jsou to volné vstupy pro vaše hosty nebo zvýhodnění u služeb klubu. Jaké jsou konkrétně ty Vaše?</p>
	<img src="{$basePath}/images/obrazek.jpg" class="image-full" alt="">
	<div class="content-thin">
		<div class="text">
			<p><strong>Věrnostním programem vás odměňujeme za vaši přízeň. Za každý dokončený rok členství vám udělíme 100 bodů, které se postupně sčítají a vy tak postupujete z nižších levelů věrnostního programu k nejvyššímu (level 4).
				</strong></p>
		</div>
		<div class="table-levels">
			<div class="table">
				<h2>POČÁTEK ČLENSTVÍ <span class="right">9. 2. 2018</span></h2>
			</div>
			<div class="table">
				<h2>LEVEL 1 <span class="light">(0 - 99 bodů)</span> <span class="right">Do 1 roku trvání členství </span></h2>
				<div class="row">
					<div class="title"><strong>20%</strong> zvýhodnění až u 10 hodin osobních tréninků</div>
					<div class="data"><strong>1× / rok</strong></div>
				</div>
				<div class="row">
					<div class="title">Solárium</div>
					<div class="data"></div>
				</div>
				<div class="row">
					<div class="title">50% zvýhodnění u zápisného oproti aktuálním cenám při obnově členství po ukončení	</div>
				</div>
			</div>
			<div class="table">
				<h2 class="current-level">LEVEL 2 <span class="light">(0 - 99 bodů)</span> <span class="right">VÁŠ AKTUÁLNÍ LEVEL</span></h2>
				<div class="row">
					<div class="title">Jednodenní vstup do klubu pro vašeho hosta Jednodenní vstup do klubu pro vašeho hosta</div>
					<div class="data">3× / rok</div>
				</div>
				<div class="row">
					<div class="title">Roční platba – možnost přerušení</div>
					<div class="data">3× / rok</div>
				</div>
				<div class="row">
					<div class="title">50% zvýhodnění u zápisného oproti aktuálním cenám při obnově členství po ukončení	</div>
				</div>
			</div>
		</div>
		<div class="text">
			<h2>podmínky věrnostního klubu</h2>
			<ul>
				<li>Zvýhodnění se nesčítají se slevami a jinými akčními cenami produktů a služeb.
				</li><li>Přechod do vyššího levelu nastává v měsíci následujícím po tom, ve kterém bylo bodové hranice dosaženo.
				</li><li>Do věrnostního programu vstupuje nový člen 1. den v měsíci následujícím po podepsání členské smlouvy.
				</li>
			</ul>
		</div>
	</div>
</div>
<section class="became-member">
	<a class="button" href="">Máte dotaz ohledně vašeho členství?</a>
</section>
<div class="puma"><a href="" target="_blank"></a></div>