{block content}

<div class="content-page content-page-bg content-page-profile">
	<h1>VÝHODY PRO VÁS</h1>
	<p class="subtitle">Členstvím v Balance Clubu Brmulovka získáte také mnoho výhod, a to nejen v Balance clubu, ale i od našich partnerů. </p>
	<div class="care care-smaller-font">
		<h2>Členstvím v Balance Clubu Brmulovka
			<br>získáte také mnoho výhod
			<br><strong>Clubu Brmulovka</strong></h2>
	</div>
	<div class="content-thin">
		<ul class="list-gray list-gray-pros">
			<li><a href="">NOVUS OPTIK<br> <span>Oční optika a měření zraku na Brumlovce</span></a></li>
			<li><a href="">VEGETARIÁNSKÁ RESTAURACE MARANATHA<br> <span>Zdravé stravování</span> </a></li>
		</ul>
	</div>
</div>
<section class="became-member">
	<a class="button" href="">Máte dotaz ohledně vašeho členství?</a>
</section>
<div class="puma"><a href="" target="_blank"></a></div>