{layout none}
{block content}

<html>
<head>
    <style>
        body,h1,h2,h3,h4,h5,h6,p,ul,li,ol,hr,form {
            padding: 0;
            margin: 0;
            border: none;
            font-weight: normal;
        }
        body {
            color: #2b3653;
        }
        a {
            color: #2b3653;
        }
        .header p {
            text-align: right;
        }
        .header p.smaller {
        }
        .line {
            height: 10px;
            width: 100%;
            background-color: #af0d2c;
        }
        table {
            border-collapse: collapse;
        }
        .footer {
            padding: 0;
            display: block;
            text-align: center;
            margin: 0;
        }
        .footer li {
            list-style: none;
            font-size: 30px;
        }
        .footer a {
            text-decoration: none;
        }
        h1 {
            color: #af0d2c;
            font-weight: 400;
            font-size: 100px;
            font-family: trendsansone, serif;
            text-align: center;
            letter-spacing: -7px;
        }
        h2 {
            color: #2b3653;
            font-weight: 400;
            font-size: 25px;
            font-family: trendsansone, serif;
            text-align: center;
            line-height: 2em;
        }
        .link {
            text-align: center;
            font-size: 36px;
            margin-top: 20px;
        }
    </style>
</head>
<body>

    <h1>{$document['heading']}</h1>
    <h2>název oboru / názov odboru</h2>
    {if $document['link']}<p class="link"><a href="{$document['link']}" target="_blank">Podívej se na ukázkový Personal Statement</a></p>{/if}

    {foreach $document['universities'] as $id => $university}
        {if $iterator->odd}
                <table style="border-collapse: collapse;margin-top: 150px;">
                    <tr>
        {/if}
                        <td width="{if $iterator->odd}300{else}50{/if}"></td>
                        <td valign="top" width="100"><img src="var:odrazka" width="60" style="margin-top: 15px;" /></td>
                        <td style="line-height: 110%;vertical-align: top;" width="800">
                            <span style="font-size: 40px;font-family: 'khandsemibold';"><a href="{$university['url']}"
                                target="_blank">{$university['title']|upper}</a></span><br />
                            {foreach $university['programs'] as $program}
                                <span style="font-size: 36px;"><a href="{$program['link']}" target="_blank" style="text-decoration: underline;">{$program['title']}</a></span><br />
                            {/foreach}
                            <span style="font-size: 36px; color: #af0d2c;">Aj:
                            {foreach $university['certificates'] as $certificate}
                                {$certificate['title']}{sep} / {/sep}
                            {/foreach}
                            </span>
                            {if $university['note']}<br /><span style="font-size: 36px;font-style: italic;">Note: {$university['note']}</span>{/if}
                            <br /><br /><br />
                        </td>
                        <td width="{if $iterator->even}300{else}50{/if}"></td>

        {if $iterator->even || $iterator->last}
                        {if $iterator->odd}
                            <td colspan="4" width="50%"></td>
                        {/if}
                    </tr>
                </table>
        {/if}
    {/foreach}

</body>
</html>

{/block}