<div style="text-align: center;height: 200px"><img src="var:bigben" style="width: 80px; padding: 60px 0" /></div>
<ul style="height: 170px" class="footer">
    <li><a style="font-family: 'khandmedium';" href="mailto:hello@unilink.cz" target="_blank">hello@unilink.cz</a> / <a href="mailto:hello@unilink.sk" target="_blank">hello@unilink.sk</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="font-family: 'khandmedium';">+420 734 693 278</a> /  <a>+421 903 696 676</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="font-family: 'khandmedium';" href="http://www.unilink.cz" target="_blank">www.unilink.cz</a> / <a href="http://www.unilink.sk" target="_blank">www.unilink.sk</a></li>
</ul>
<div class="line"></div>