<div class="line"></div>
<table width="100%" class="header">
    <tr><td height="170" colspan="4"></td></tr>
    <tr>
        <td width="188px"></td>
        <td width="1000px"><img src="var:logo" width="375" /></td>
        <td width="50%" style="text-align: right">
            <p style="font-size: 38px;font-family: 'khandmedium';">PORADENSKÉ CENTRUM PRO VYSOKOŠKOLSKÉ STUDIUM VE VELKÉ BRITÁNII</p>
            <p style="font-size: 35px;">Poradenské centrum pre vysokoškolské štúdium vo Veĺkej Britanii</p>
        </td>
        <td width="188px"></td>
    </tr>
</table>
<div style="text-align: center;"><img src="var:london" style="width:175px; display: block; padding: 170px 0 10px" /></div>