<footer>
    <div class="menu">
        <ul>
            <li>Fitness
                <ul class="two-cols">
                    <li><a href="">Fitness a cardio</a></li>
                    <li><a href="">Diagnostika</a></li>
                    <li><a href="">Osobní trénink</a></li>
                    <li><a href="">Fyzio Care</a></li>
                </ul>
            </li>
            <li>Spa
                <ul>
                    <li><a href="">Aqua zóna</a></li>
                    <li><a href="">Relax zóna</a></li>
                    <li><a href="">Střešní terasa</a></li>
                    <li><a href="">Masáže</a></li>
                </ul>
            </li>
            <li>Klub
                <ul>
                    <li><a href="">O klubu</a></li>
                    <li><a href="">Věrnostní program</a></li>
                    <li><a href="">Chci se stát členem</a></li>
                    <li><a href="">Náš tým</a></li>
                </ul>
            </li>
            <li>Rozvrh hodin
                <ul>
                    <li><a href="">Aktuální rozvrh</a></li>
                    <li><a href="">Popis lekcí</a></li>
                </ul>
            </li>
            <li>Kontakt
                <ul>
                    <li><a href="">Kontakty</a></li>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Otevírací doba</a></li>
                    <li><a href="">Kde nás najdete</a></li>
                </ul>
            </li>
        </ul>
    </div>
</footer>