<header class="header-fixed-open">
    <a n:href="Homepage:" class="logo"></a>
    <ul class="menu-responsive-top">
        <li class="profile"><a href=""></a></li>
        <li class="menu-trigger"><a href="" ></a></li>
    </ul>
    <div class="menu">
        <ul>
            <li>
                <a class="no-link"><span>Klub</span></a>
                <ul>
                    <li class="active"><a href="#">FILOZOFIE A POPIS KLUBU</a></li>
                    <li><a href="">VĚRNOSTNÍ PROGRAM</a></li>
                    <li><a href="">CHCI SE STÁT ČLENEM</a></li>
                    <li><a href="">NÁŠ TÝM</a></li>
                    <li><a href="">BUDOVA BRUMLOVKA</a></li>
                    <li><a href="">NEWSLETTER</a></li>
                    <li><a href="">GDPR</a></li>
                    <li><a href="">VÝHODY PRO NAŠE ČLENY</a></li>
                    <li><a href="">GALERIE</a></li>
                    <li><a href="">KARIÉRA</a></li>
                    <li><a href="">PARTNEŘI</a></li>
                </ul>
            </li>
            <li><a href="#"><span>Fitness</span></a></li>
            <li><a href="#"><span>Spa</span></a></li>
            <li class="active"><a href="#"><span>Rozvrh hodin</span></a></li>
            <li><a href="#"><span>Kontakt</span></a></li>
            <li class="small"><a href="#"><span>EN</span></a></li>
            <li class="small profile profile-submenu"><!-- volitelne - .profile-submenu po prihlaseni-->
                <a href="#"><span></span></a>
                <!-- volitelne - po prihlaseni -->
                <ul>
                    <li class="active"><a href="#">úvod</a></li>
                    <li><a href="">věrnostní program</a></li>
                    <li class="disabled"><a href="">rezervované služby</a></li>
                    <li class="disabled"><a href="">platba členství</a></li>
                    <li><a href="">dobití kreditu</a></li>
                    <li><a href="">rezervace masáží</a></li>
                    <li><a href="">moje výhody</a></li>
                    <li><a href="">dokumenty</a></li>
                    <li><a href="">nastavení</a></li>
                    <li><a href="">odhlásit</a></li>
                </ul>
                <!-- end volitelne -->
            </li>
        </ul>
    </div>
    <div class="menu-responsive">
        <a class="menu-close-trigger"></a>
        <ul>
            <li class="profile">
                <a class="no-link"><span>Přihlášení pro členy</span></a><!-- class="no-link" NEBO href="prihlaseni.php" -->
                <!-- volitelne - po prihlaseni -->
                <ul>
                    <li><a href="#">úvod</a></li>
                    <li class="active"><a href="">věrnostní program</a></li>
                    <li><a href="">rezervované služby</a></li>
                    <li><a href="">platba členství</a></li>
                    <li><a href="">dobití kreditu</a></li>
                    <li><a href="">rezervace masáží</a></li>
                    <li><a href="">moje výhody</a></li>
                    <li class="disabled"><a href="">dokumenty</a></li>
                    <li><a href="">nastavení</a></li>
                    <li><a href="">odhlásit</a></li>
                </ul>
                <!-- end volitelne -->
            </li>
            <li><a class="no-link"><span>Klub</span></a>
                <ul>
                    <li><a href="#">FILOZOFIE A POPIS KLUBU</a></li>
                    <li class="active"><a href="">VĚRNOSTNÍ PROGRAM</a></li>
                    <li><a href="">CHCI SE STÁT ČLENEM</a></li>
                    <li><a href="">NÁŠ TÝM</a></li>
                    <li><a href="">BUDOVA BRUMLOVKA</a></li>
                    <li><a href="">NEWSLETTER</a></li>
                    <li><a href="">GDPR</a></li>
                    <li><a href="">VÝHODY PRO NAŠE ČLENY</a></li>
                    <li><a href="">GALERIE</a></li>
                    <li><a href="">KARIÉRA</a></li>
                    <li><a href="">PARTNEŘI</a></li>
                </ul>
            </li>
            <li><a href="#"><span>Fitness</span></a></li>
            <li><a href="#"><span>Spa</span></a></li>
            <li class="active"><a href="#"><span>Rozvrh hodin</span></a></li>
            <li><a href="#"><span>Kontakt</span></a></li>
            <li><a href="#"><span>EN</span></a></li>
            <li class="want"><a href="#"><span>Chci se stát členem klubu</span></a></li>
        </ul>
    </div>
</header>