<section class="slider-homepage">
    <div class="slide slide-1">
        <div class="text">
            <p class="subtitle">Střešní terasa</p>
            <h2>venkovní<br> relaxace<br> na slunci</h2>
            <a class="btn" href="">Více o relaxaci</a>
            <a class="puma"></a>
        </div>
    </div>
    <div class="slide slide-2">
        <div class="text">
            <p class="subtitle">Střešní terasa</p>
            <h2>venkovní relaxace na slunci</h2>
            <a class="btn" href="">Více o relaxaci</a>
            <a class="puma"></a>
        </div>
    </div>
    <div class="slide slide-3">
        <div class="text">
            <p class="subtitle">Střešní terasa</p>
            <h2>venkovní relaxace na slunci</h2>
            <a class="btn" href="">Více o relaxaci</a>
            <a class="puma"></a>
        </div>
    </div>
    <div class="slide slide-4">
        <div class="text">
            <p class="subtitle">Střešní terasa</p>
            <h2>venkovní relaxace na slunci</h2>
            <a class="btn" href="">Více o relaxaci</a>
            <a class="puma"></a>
        </div>
    </div>
</section>