body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol,
hr,
form,
menu,
header,
footer {
  padding: 0;
  margin: 0;
  border: none;
  font-weight: normal;
}
body,
input,
select,
textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 1.4em;
  font-weight: 400;
}
body {
  background: #f0f0f0;
}
@media screen and (max-width: 500px) {
  body {
    padding-top: 60px;
  }
}
html body .h {
  display: none;
}
a {
  outline: 0;
  text-decoration: none;
  color: #194597;
}
*:focus {
  outline: none;
}
strong {
  font-weight: 500;
}
ul.error {
  margin: 20px 15px;
  color: darkred;
  padding: 0;
}
h1,
h2,
h3 {
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
}
.btn {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  border: solid 1px #e5f05b;
  line-height: 48px;
  padding: 0 30px 0 30px;
  background: #e5f05b;
  border-radius: 24px;
  box-sizing: border-box;
  font-size: 15px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  min-width: 115px;
}
.btn:hover {
  background-color: #194597;
  border-color: #194597;
  color: #fff;
}
.btn.btn-opposite {
  border-color: #e5f05b;
  background: #e5f05b;
}
.btn.btn-opposite:hover {
  background-color: #194597;
  border-color: #194597;
}
.btn.btn-gray {
  border-color: #d7d7d6;
  background: #d7d7d6;
}
.btn.btn-gray:hover {
  background-color: #194597;
  border-color: #194597;
}
.btn.btn-facebook {
  padding-left: 40px;
  padding-right: 25px;
  min-width: auto;
  background-color: #194597;
  border-color: #194597;
  color: #fff;
}
.btn.btn-facebook:before {
  background: url(../images/facebook-ikona-tlacitko.svg);
  width: 17px;
  height: 17px;
  content: "";
  display: block;
  position: absolute;
  left: 15px;
  top: 15px;
}
.btn.btn-facebook:hover {
  background-color: #e5f05b;
  border-color: #e5f05b;
  color: #000000;
}
.btn.btn-facebook:hover:before {
  background: url(../images/facebook-ikona-tlacitko-cerna.svg);
}
.btn.btn-arrow-right:after {
  display: inline-block;
  background: url(../images/sipka-filtr.svg) no-repeat;
  width: 32px;
  height: 9px;
  content: "";
  margin-left: 10px;
}
.btn.btn-arrow-right:hover:after {
  background: url(../images/sipka-filtr-bila.svg) no-repeat;
}
.btn-wrapper {
  display: inline-block;
  position: relative;
}
.btn-wrapper:before {
  z-index: 1;
}
.buttons-group {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 50px 0 70px;
}
@media screen and (max-width: 500px) {
  .buttons-group {
    display: block;
    text-align: center;
  }
  .buttons-group li {
    margin-bottom: 15px;
  }
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 1;
}
::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
}
:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 1;
}
::-ms-reveal,
::-ms-clear {
  display: none !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
header {
  height: 70px;
  background: #363636;
  position: relative;
  z-index: 9;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
header.header-permanent-fixed {
  top: 0;
}
header .logo {
  width: 95px;
  height: 50px;
  background: url(../images/logo.svg) left top no-repeat;
  position: absolute;
  top: 10px;
  left: 50px;
}
header .logo:hover {
  background-position: left bottom;
}
header .logo span {
  display: none;
}
header.open {
  top: 0;
}
@media screen and (min-width: 1150px) {
  header .menu {
    float: right;
  }
  header .menu ul {
    list-style: none;
  }
  header .menu a {
    color: #fff;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    line-height: 1.3em;
    text-transform: uppercase;
  }
  header .menu > ul {
    display: flex;
    height: 70px;
    justify-content: flex-end;
  }
  header .menu > ul > li {
    flex: 0 0 165px;
    display: flex;
    position: relative;
    border-left: solid 1px #282828;
  }
  header .menu > ul > li:hover > a.no-link {
    color: #000000;
    background: #ffffff;
  }
  header .menu > ul > li > a {
    color: #fff;
    text-decoration: none;
    height: 70px;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
    flex: 1 0 100%;
  }
  header .menu > ul > li > a:hover {
    background-color: #194597;
    color: #fff;
  }
  header .menu > ul > li.small {
    flex: 0 0 70px;
  }
  header .menu > ul > li.profile a {
    background: url(../images/ikona-menu-prihlaseni.svg) center no-repeat;
  }
  header .menu > ul > li.profile a:hover {
    background-color: #194597;
  }
  header .menu > ul > li.profile-submenu > a {
    background: #e5f05b url(../images/ikona-menu-prihlaseni-cerna.svg) center no-repeat;
  }
  header .menu > ul > li.profile-submenu:hover > a {
    background: #ffffff url(../images/ikona-menu-prihlaseni-cerna.svg) center no-repeat;
  }
  header .menu > ul > li > ul {
    display: none;
  }
  header .menu > ul > li:hover > ul {
    display: block;
    position: absolute;
    top: 70px;
    left: -1px;
    background: #ffffff;
    z-index: 1;
    padding: 20px 0;
    border: solid 1px #dadada;
    border-top: 0;
  }
  header .menu > ul > li:hover > ul > li > a {
    display: block;
    padding: 14px 24px 14px 65px;
    min-width: 300px;
    box-sizing: border-box;
    position: relative;
    color: #000000;
  }
  header .menu > ul > li:hover > ul > li > a:hover {
    background: #e5f05b;
  }
  header .menu > ul > li:hover > ul > li > a:hover:before {
    display: block;
    content: "";
    background: url(../images/sipka-perex-text-novinka.svg);
    width: 18px;
    height: 11px;
    position: absolute;
    left: 35px;
    top: 20px;
  }
  header .menu > ul > li:hover > ul > li.disabled > a {
    color: #b4b4b3;
  }
  header .menu > ul > li:hover > ul > li.disabled > a:hover {
    background: #f8f8f8;
  }
  header .menu > ul > li.profile:hover > ul {
    left: auto;
    right: 0;
    border-right: none;
  }
  header .menu-responsive,
  header .menu-responsive-top {
    display: none;
  }
}
@media screen and (max-width: 1150px) {
  header .logo {
    left: 50px;
  }
  header .menu {
    display: none;
  }
  header .menu-responsive-top {
    float: right;
    list-style: none;
    display: flex;
    height: 70px;
    justify-content: flex-end;
  }
  header .menu-responsive-top a {
    color: #fff;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    line-height: 1.3em;
    text-transform: uppercase;
  }
  header .menu-responsive-top li {
    flex: 0 0 70px;
    display: flex;
    position: relative;
    border-left: solid 1px #282828;
  }
  header .menu-responsive-top li:hover > a.no-link {
    color: #000000;
    background: #ffffff;
  }
  header .menu-responsive-top li > a {
    color: #fff;
    text-decoration: none;
    height: 70px;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
    flex: 1 0 100%;
  }
  header .menu-responsive-top li > a:hover {
    background-color: #194597;
    color: #fff;
  }
  header .menu-responsive-top li.profile a {
    background: url(../images/ikonka-horni-lista-prihlaseni.svg) center no-repeat;
  }
  header .menu-responsive-top li.profile a:hover {
    background-color: #194597;
  }
  header .menu-responsive-top li.menu-trigger a {
    background: url(../images/ikonka-horni-lista-menu.svg) center no-repeat;
  }
  header .menu-responsive-top li.menu-trigger a:hover {
    background-color: #194597;
  }
  header .menu-responsive {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #363636;
    z-index: 9;
    transition: all 0.3s ease-out;
  }
  header .menu-responsive .menu-close-trigger {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/zaviraci-krizek-bily.svg) center / 20px auto no-repeat;
    width: 80px;
    height: 12vh;
    z-index: 9;
    cursor: pointer;
  }
  header .menu-responsive > ul {
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
  }
  header .menu-responsive > ul > li {
    display: flex;
    flex: 0 0 50%;
    height: 22vh;
  }
  header .menu-responsive > ul > li > a {
    flex: 0 0 100%;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: solid 1px #000000;
    box-sizing: border-box;
    display: flex;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2em;
  }
  header .menu-responsive > ul > li.profile {
    flex-basis: 100%;
  }
  header .menu-responsive > ul > li.profile span {
    position: relative;
    top: 15px;
  }
  header .menu-responsive > ul > li.profile span:before {
    position: absolute;
    top: -44px;
    left: 50%;
    background: url(../images/ikonka-horni-lista-prihlaseni.svg);
    width: 26px;
    height: 30px;
    content: "";
    display: block;
    margin-left: -13px;
  }
  header .menu-responsive > ul > li.want {
    height: 12vh;
    flex-basis: 100%;
    background: #e5f05b;
  }
  header .menu-responsive > ul > li.want a {
    color: #000000;
  }
  header .menu-responsive > ul > li > ul {
    list-style: none;
    display: none;
  }
  header .menu-responsive > ul > li > ul > li {
    height: 8vh;
    border-bottom: solid 1px #000000;
    display: flex;
  }
  header .menu-responsive > ul > li > ul > li:hover,
  header .menu-responsive > ul > li > ul > li.active {
    background: #e5f05b url(../images/sipka-perex-text-novinka-cerna.svg) 30px center no-repeat;
  }
  header .menu-responsive > ul > li > ul > li:hover a,
  header .menu-responsive > ul > li > ul > li.active a {
    color: #000000;
  }
  header .menu-responsive > ul > li > ul > li.disabled a {
    color: #b4b4b3;
  }
  header .menu-responsive > ul > li > ul > li.disabled a:hover {
    background: #f8f8f8 url(../images/sipka-perex-text-novinka-cerna.svg) 30px center no-repeat;
  }
  header .menu-responsive > ul > li > ul > li > a {
    flex: 0 0 100%;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-left: 100px;
    box-sizing: border-box;
    text-transform: uppercase;
  }
  header .menu-responsive > ul > li.active.open > a {
    color: #fff;
  }
  header .menu-responsive > ul > li.open {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #363636;
    flex-direction: column;
    z-index: 1;
  }
  header .menu-responsive > ul > li.open > a {
    flex: 0 0 auto;
    background: #292929 url(../images/sipka-vlevo-bila.svg) 25px center no-repeat;
    height: 12vh;
    border: none;
  }
  header .menu-responsive > ul > li.open > a.no-link {
    position: relative;
  }
  header .menu-responsive > ul > li.open > a.no-link span {
    text-transform: uppercase;
  }
  header .menu-responsive > ul > li.open.profile a span {
    top: 0;
  }
  header .menu-responsive > ul > li.open.profile a span:before {
    display: none;
  }
  header .menu-responsive > ul > li.open > ul {
    display: block;
  }
  header.menu-open .menu-responsive {
    left: 0;
  }
}
@media screen and (max-width: 500px) {
  header {
    position: fixed;
    left: 0;
    top: -60px;
    right: 0;
    transition: all 0.3s ease-out;
    z-index: 9;
    height: 60px;
  }
  header.header-fixed-open {
    top: 0;
  }
  header .logo {
    left: 10px;
    top: 10px;
    height: 40px;
    background-size: auto 200%;
  }
  header .menu-responsive-top {
    height: 60px;
  }
  header .menu-responsive-top li > a {
    height: 60px;
  }
}
footer {
  padding: 110px 0 100px;
  background: #ececec;
  font-size: 16px;
  line-height: 1.3em;
}
footer .menu {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 20px;
}
footer .menu > ul {
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: space-between;
}
footer .menu > ul > li {
  flex: 0 1 auto;
  color: #070707;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
footer .menu > ul > li ul {
  margin: 35px 0 0;
  text-transform: none;
  list-style: none;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}
footer .menu > ul > li ul li a {
  color: #000000;
  display: inline-block;
  margin-bottom: 9px;
}
footer .menu > ul > li ul li a:hover {
  color: #194597;
}
footer .submenu {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px 0;
  color: #7f7f7f;
}
footer .submenu ul {
  display: inline;
  list-style: none;
}
footer .submenu ul li {
  display: inline-block;
}
footer .submenu ul li a {
  color: #7f7f7f;
}
footer .submenu ul li a:hover {
  color: #194597;
}
footer .submenu ul li:last-child:before {
  content: "|";
  display: inline-block;
  margin: 0 5px;
}
@media screen and (max-width: 900px) {
  footer .menu > ul {
    flex-wrap: wrap;
  }
  footer .menu > ul > li {
    flex: 0 0 48%;
    margin-bottom: 40px;
  }
  footer .submenu {
    padding: 0 20px;
    display: block;
    text-align: center;
  }
  footer .submenu ul {
    display: block;
    margin-top: 20px;
  }
}
@media screen and (max-width: 500px) {
  footer {
    display: none;
    font-size: 12px;
    padding: 30px 0 0;
  }
  footer .menu > ul > li {
    font-size: 12px;
  }
  footer .menu > ul > li ul {
    font-size: 10px;
  }
  footer .menu > ul > li ul li a {
    margin-bottom: 5px;
  }
}
.content-page {
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
}
.content-page + .content-page {
  margin-top: 20px;
}
.content-page.content-page-bg {
  background-color: #ffffff;
  padding-top: 80px;
  padding-bottom: 1px;
}
.content-page.content-page-profile {
  margin-top: 80px;
}
.content-page.content-page-profile + .content-page.content-page-profile {
  margin-top: 20px;
}
.content-page .content-thin {
  max-width: 700px;
  margin: 0 auto;
}
.content-page .content-middle {
  max-width: 860px;
  margin: 0 auto;
}
.content-page .content-ultra-thin {
  max-width: 625px;
  margin: 0 auto;
}
.content-page h1 {
  font-size: 30px;
  text-transform: uppercase;
  max-width: 700px;
  margin: 0 auto 10px;
  text-align: center;
  line-height: 1.2em;
  padding: 0 20px;
}
.content-page h1.without-subtitle {
  margin-bottom: 40px;
}
.content-page .subtitle {
  max-width: 700px;
  margin: 0 auto 50px;
  text-align: center;
  color: #606060;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0 20px;
}
.content-page .image-full {
  display: block;
  margin: 0 auto 50px;
  max-width: 100%;
}
.content-page .image-full-link {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 860px;
}
.content-page .image-full-link:hover .arrow-right {
  background: url(../images/tlacitko-posun-fotky-doprava.svg);
  width: 105px;
  height: 45px;
  display: block;
  right: 30px;
  top: 50%;
  margin-top: -22px;
  position: absolute;
}
.content-page .image-full-link:hover .arrow-right:hover {
  background-position: left bottom;
}
@media screen and (max-width: 1290px) {
  .content-page {
    margin: 0 20px;
  }
  .content-page .content-thin,
  .content-page .content-middle {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1090px) {
  .content-page .content-middle {
    width: auto;
    margin: 0 20px;
  }
}
@media screen and (max-width: 780px) {
  .content-page .content-thin {
    width: auto;
    margin: 0 20px;
  }
}
@media screen and (max-width: 715px) {
  .content-page .content-ultra-thin {
    margin: 0 20px;
  }
}
@media screen and (max-width: 500px) {
  .content-page {
    margin: 0;
  }
  .content-page.content-page-profile {
    margin-top: 0;
  }
  .content-page.content-page-bg {
    padding-top: 40px;
  }
  .content-page .image-full-magazine {
    width: calc(100% - 40px);
  }
}
.text p {
  font-size: 16px;
  line-height: 1.85em;
  margin-bottom: 30px;
  text-align: justify;
}
.text p strong {
  font-weight: 600;
}
.text p.gray {
  color: #a9a8a8;
}
.text p a {
  color: #194597;
}
.text ul {
  list-style: none;
  margin-bottom: 30px;
}
.text ul li {
  font-size: 16px;
  line-height: 1.85em;
  padding-left: 24px;
  position: relative;
}
.text ul li:before {
  position: absolute;
  left: 0;
  top: 13px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #e5f05b;
  content: "";
}
.text h2 {
  color: #aaa9a9;
  text-transform: uppercase;
  font-size: 22px;
  margin: 50px 0 30px;
  line-height: 1.2em;
}
.text h2.center {
  text-align: center;
}
.slider-homepage .slide {
  display: flex !important;
  justify-content: flex-end;
  flex: 0 0 100%;
  height: 730px;
}
.slider-homepage .slide.slide-1 {
  background: url(../images/fotky-slider/stresni-terasa.jpg) center / cover;
}
.slider-homepage .slide.slide-2 {
  background: url(../images/fotky-slider/nove-fitness.jpg) center / cover;
}
.slider-homepage .slide.slide-3 {
  background: url(../images/fotky-slider/sauna.jpg) center / cover;
}
.slider-homepage .slide.slide-4 {
  background: url(../images/fotky-slider/terasa2.jpg) center / cover;
}
.slider-homepage .slide .text {
  flex: 0 0 700px;
  background: rgba(1, 34, 107, 0.45);
  box-sizing: border-box;
  padding: 110px;
  position: relative;
}
.slider-homepage .slide .text .subtitle {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 27px;
}
.slider-homepage .slide .text h2 {
  font-size: 80px;
  color: #ffffff;
  line-height: 1.2em;
  text-transform: uppercase;
}
.slider-homepage .slide .text .btn {
  position: absolute;
  left: 110px;
  bottom: 175px;
}
.slider-homepage .slide .text .puma {
  position: absolute;
  right: 50px;
  bottom: 90px;
  background: url(../images/puma-logo-slider.svg);
  width: 109px;
  height: 55px;
  display: block;
}
.slider-homepage .slide .text .puma:hover {
  background-position: left bottom;
}
@media screen and (max-width: 720px) {
  .slider-homepage {
    display: none !important;
  }
  .hp .slider-homepage {
    display: block !important;
  }
  .slider-homepage .slide {
    height: 0;
    padding-top: 10%;
    position: relative;
  }
  .slider-homepage .slide .text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
  }
  .slider-homepage .slide .text h2 {
    font-size: 20px;
    text-align: center;
    margin: 10px 0 20px;
  }
  .slider-homepage .slide .text .subtitle {
    text-align: center;
    margin: 0;
    font-size: 12px;
  }
  .slider-homepage .slide .text .btn {
    display: none;
  }
  .slider-homepage .slide .text .puma {
    top: -75px;
    bottom: auto;
    right: 20px;
  }
}
.hp + .content-page {
  margin-top: -65px;
}
@media screen and (max-width: 720px) {
  .hp + .content-page {
    margin-top: 0;
  }
}
.submenu-homepage {
  background: #ffffff;
  display: flex;
  margin-bottom: 30px;
}
.submenu-homepage a {
  flex: 0 0 auto;
  width: 25%;
  display: block;
  text-align: center;
  padding: 155px 20px 50px;
  box-sizing: border-box;
  position: relative;
  border-right: solid 2px #f0f0f0;
}
.submenu-homepage a:last-child {
  border-right: none;
}
.submenu-homepage a h2 {
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 12px;
  line-height: 1.3em;
}
.submenu-homepage a p {
  font-size: 14px;
  color: #8b8b8b;
  line-height: 1.3em;
}
.submenu-homepage a:before {
  position: absolute;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  top: 85px;
  content: "";
  display: block;
}
.submenu-homepage a.opening-hours:before {
  background-image: url(../images/ikony-velke-odkazy-oteviraci-doba.svg);
}
.submenu-homepage a.schedule-link:before {
  background-image: url(../images/ikony-velke-odkazy-rozvrh.svg);
}
.submenu-homepage a.membership:before {
  background-image: url(../images/ikony-velke-odkazy-clenstvi.svg);
}
.submenu-homepage a.login:before {
  background-image: url(../images/ikony-velke-odkazy-prihlaseni.svg);
}
.submenu-homepage a:hover {
  background: #194597;
}
.submenu-homepage a:hover h2,
.submenu-homepage a:hover p {
  color: #fff;
}
.submenu-homepage a:hover:before {
  background-position: left bottom;
}
@media screen and (max-width: 780px) {
  .submenu-homepage {
    flex-wrap: wrap;
  }
  .submenu-homepage a {
    width: 50%;
  }
  .submenu-homepage a:nth-child(2) {
    border-right: none;
  }
  .submenu-homepage a:nth-child(1),
  .submenu-homepage a:nth-child(2) {
    border-bottom: solid 2px #f0f0f0;
  }
}
@media screen and (max-width: 500px) {
  .submenu-homepage a p {
    display: none;
  }
}
.articles-homepage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.articles-homepage .item {
  background: #ffffff;
  flex-basis: calc(100% / 3 - 3px);
  margin-bottom: 30px;
  cursor: pointer;
}
.articles-homepage .item .image {
  height: 300px;
  background-position: center;
  background-size: auto 103%;
  transition: all 0.3s ease-in;
}
.articles-homepage .item h2 {
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  margin: 27px 28px 5px;
  line-height: 1.3em;
}
.articles-homepage .item p {
  font-size: 14px;
  line-height: 1.3em;
  margin: 12px 28px 20px;
  color: #000000;
}
.articles-homepage .item p:after {
  display: inline-block;
  background: url(../images/sipka-perex-text-novinka.svg);
  width: 18px;
  height: 11px;
  content: "";
  margin-left: 5px;
}
.articles-homepage .item:last-child:nth-child(3n+2) {
  margin-right: auto;
  margin-left: 4px;
}
.articles-homepage .item.item-full-image .image {
  height: 425px;
  position: relative;
}
.articles-homepage .item.item-full-image .image h2 {
  position: absolute;
  margin: 0;
  left: 20px;
  right: 20px;
  bottom: 25px;
  text-align: center;
  font-size: 28px;
  color: #fff;
}
.articles-homepage .item.item-full-image .image h2 strong {
  color: #e5f05b;
}
.articles-homepage .item.item-person .image {
  height: 425px;
  position: relative;
}
.articles-homepage .item.item-person .image .text {
  position: absolute;
  left: 40px;
  right: 20px;
  bottom: 32px;
}
.articles-homepage .item.item-person .image .text h2 {
  margin: 0;
  font-size: 25px;
  color: #fff;
}
.articles-homepage .item.item-person .image .text p {
  margin: 0;
  color: #fff;
}
.articles-homepage .item.item-person .image .text p:after {
  display: none;
}
.articles-homepage .item.item-text {
  min-height: 425px;
  background: #194597;
  display: flex;
  align-items: center;
}
.articles-homepage .item.item-text h2 {
  font-size: 28px;
  color: #fff;
  text-align: center;
  margin: 0 20px;
  justify-content: center;
}
.articles-homepage .item.item-text:hover {
  background: #113c8a;
}
.articles-homepage .item.item-text:hover h2 {
  color: #fff;
}
.articles-homepage .item:hover .image {
  background-size: auto 100%;
  transition: all 0.3s ease-out;
}
.articles-homepage .item:hover h2 {
  color: #194597;
}
.articles-homepage .item:hover p:after {
  background-position: left bottom;
}
@media screen and (max-width: 780px) {
  .articles-homepage .item {
    flex-basis: calc(100% / 2 - 3px);
  }
  .articles-homepage .item:last-child:nth-child(3n+2) {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 500px) {
  .articles-homepage {
    margin-left: 20px;
    margin-right: 20px;
  }
  .articles-homepage .item {
    flex-basis: 100%;
    margin-bottom: 10px;
  }
}
.became-member {
  margin: 80px 0 0;
}
.became-member .button {
  display: block;
  width: 415px;
  background: #e5f05b;
  text-align: center;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  line-height: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  color: #4a4a4a;
  margin: 0 auto;
  padding: 29px 20px 29px;
  box-sizing: border-box;
}
.became-member .button:hover {
  background: #194597;
  color: #fff;
}
@media screen and (max-width: 500px) {
  .became-member {
    margin: 40px 0 0;
  }
  .became-member .button {
    width: 100%;
  }
}
.puma {
  height: 110px;
  position: relative;
}
.puma a {
  position: absolute;
  right: 30px;
  width: 109px;
  height: 55px;
  background: url(../images/puma-logo-paticka.svg);
  top: 25px;
}
.puma a:hover {
  background-position: left bottom;
}
@media screen and (max-width: 500px) {
  .puma {
    display: none;
  }
  .puma.puma-hp {
    display: block;
  }
  .puma.puma-hp a {
    left: 50%;
    right: auto;
    margin-left: -55px;
  }
}
.list-gray {
  display: block;
  list-style: none;
  margin-bottom: 60px;
}
.list-gray li {
  display: block;
}
.list-gray li .blue {
  color: #194597;
}
.list-gray li em.light {
  font-weight: 300;
  font-style: normal;
}
.list-gray li a {
  display: block;
  background: #f7f7f7;
  font-size: 16px;
  color: #4a4a4a;
  padding: 25px 130px 25px 37px;
  position: relative;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  margin-bottom: 3px;
  line-height: 1.2em;
}
.list-gray li a span {
  font-size: 15px;
  text-transform: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  display: inline-block;
  margin-top: 5px;
}
.list-gray li a:after {
  background: url(../images/sipka-radek-odkaz.svg) right top;
  width: 62px;
  height: 9px;
  position: absolute;
  right: 37px;
  top: 50%;
  margin-top: -5px;
  content: "";
  display: block;
}
.list-gray li a:hover,
.list-gray li a.selected {
  background: #194597;
  color: #fff;
}
.list-gray li a:hover span.blue,
.list-gray li a.selected span.blue {
  color: #fff;
}
.list-gray li a:hover:after,
.list-gray li a.selected:after {
  background-position: right bottom;
}
.list-gray.list-gray-career li a {
  background: none;
  border: solid 1px #d5d2d2;
  margin-bottom: 10px;
  font-size: 20px;
}
.list-gray.list-gray-career li a:hover {
  background: #194597;
}
.list-gray.list-gray-pros li a {
  background: none;
  border: solid 1px #d5d2d2;
  margin-bottom: 10px;
  font-size: 20px;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 30px;
}
.list-gray.list-gray-pros li a span {
  margin-top: 8px;
}
.list-gray.list-gray-pros li a:hover {
  background: #e5f05b;
}
.list-gray.list-gray-pros li a:hover:after {
  background-position: right top;
}
@media screen and (max-width: 500px) {
  .list-gray li a {
    padding: 15px 60px 15px 20px;
  }
  .list-gray li a:after {
    width: 30px;
    right: 15px;
  }
}
.btn-container {
  text-align: center;
  margin: 50px 0 70px;
}
@media screen and (max-width: 500px) {
  .btn-container {
    margin: 30px 0 40px;
  }
}
.gallery {
  display: flex;
  max-width: 960px;
  margin: 0 auto 60px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery .item {
  flex-basis: calc(100% / 3 - 2px);
  flex-grow: 0;
  flex-shrink: 0;
}
.gallery .item .image {
  background-position: center ;
  background-size: auto 103%;
  transition: all 0.3s ease-in;
  height: 245px;
}
.gallery .item h2 {
  text-transform: uppercase;
  margin: 20px 0 25px;
  color: #070707;
  font-size: 20px;
  line-height: 1.2em;
}
.gallery .item:last-child:nth-child(3n+2) {
  margin-right: auto;
  margin-left: 3px;
}
.gallery .item:hover .image {
  background-size: auto 100%;
  transition: all 0.3s ease-out;
}
.gallery .item:hover h2 {
  color: #194597;
}
@media screen and (max-width: 1060px) {
  .gallery {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 500px) {
  .gallery .item {
    flex-basis: calc(100% / 2 - 2px);
  }
  .gallery .item .image {
    height: 200px;
  }
  .gallery .item:last-child:nth-child(3n+2) {
    margin-right: 0;
    margin-left: 0;
  }
}
.gallery-popup {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  display: flex;
  overflow-y: auto;
}
.gallery-popup .image-container {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  margin: auto;
}
.gallery-popup .image-container .popup-close {
  z-index: 1;
}
.gallery-popup .image-container img {
  display: block;
  max-width: 100vw;
  max-height: 100vh;
}
.gallery-popup .image-container .left,
.gallery-popup .image-container .right {
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
}
.gallery-popup .image-container .left:hover span,
.gallery-popup .image-container .right:hover span {
  position: absolute;
  left: 30px;
  top: 50%;
  background: url(../images/tlacitko-posun-fotky-doleva.svg);
  width: 105px;
  height: 45px;
  margin-top: -22px;
}
.gallery-popup .image-container .left:hover span:hover,
.gallery-popup .image-container .right:hover span:hover {
  background-position: bottom left;
}
.gallery-popup .image-container .right {
  left: auto;
  right: 0;
}
.gallery-popup .image-container .right:hover span {
  left: auto;
  right: 30px;
  background: url(../images/tlacitko-posun-fotky-doprava.svg) bottom left;
}
.gallery-popup .image-container .right:hover span:hover {
  background-position: top left;
}
@media screen and (max-width: 500px) {
  .gallery-popup .image-container .left:hover span,
  .gallery-popup .image-container .right:hover span {
    position: absolute;
    left: 20px;
    top: 50%;
    background-size: auto 200%;
    width: 50px;
    height: 22px;
    margin-top: -11px;
  }
  .gallery-popup .image-container .right:hover span {
    left: auto;
    right: 20px;
  }
}
.care {
  max-width: 860px;
  margin: 30px auto 60px;
  background: url(../images/modry-podklad.jpg) center;
  display: block;
  padding: 125px 50px 100px;
  text-align: center;
  box-sizing: border-box;
}
.care h2 {
  font-size: 55px;
  line-height: 1.3em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.care h2 strong {
  color: #e5f05b;
}
.care.care-smaller-font h2 {
  font-size: 30px;
  line-height: 1.5em;
}
@media screen and (max-width: 500px) {
  .care {
    padding-left: 20px;
    padding-right: 20px;
  }
  .care h2 {
    font-size: 30px;
    line-height: 1.3em;
  }
}
.popup-close {
  width: 50px;
  height: 50px;
  background: url(../images/zaviraci-krizek-cerny.svg) center / 22px no-repeat;
  position: absolute;
  right: 8px;
  top: 12px;
  cursor: pointer;
}
.form-popup {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  display: flex;
  overflow-y: auto;
}
.form-popup .container {
  position: relative;
  max-width: 470px;
  background: #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 80px 55px 40px;
  margin: auto;
}
.form-popup .container h2 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #194597;
  margin-bottom: 30px;
  line-height: 1.2em;
}
.form-popup .container h3 {
  font-size: 16px;
  margin: 45px 0 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 500px) {
  .form-popup {
    background: #ffffff;
  }
  .form-popup .container {
    width: 100%;
    min-height: 100%;
    padding: 30px 20px 100px;
    max-width: none;
    border-radius: 0;
  }
  .form-popup .container .form-submit {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
  }
  .form-popup .container .btn {
    width: 100%;
    border-radius: 0;
    line-height: 80px;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
  }
  .form-popup .container .form-checkbox {
    margin-bottom: 0;
  }
}
.form-input {
  border: solid 1px #d5d2d2;
  padding: 20px 25px 15px;
  position: relative;
  margin-bottom: 4px;
}
.form-input input,
.form-input textarea {
  background: none;
  border: none;
  font-size: 16px;
  width: 100%;
}
.form-input textarea {
  height: 90px;
}
.form-input label {
  position: absolute;
  top: 5px;
  font-size: 12px;
  left: 26px;
}
.form-input.placeholder-shown label {
  font-size: 16px;
  top: auto;
}
.form-input.error {
  background: #e3c3c4;
}
.form-input.error label {
  color: darkred;
}
.form-input .show-password-btn {
  position: absolute;
  right: 15px;
  background: url(../images/ikonka-oko-zobrazeni-hesla.svg) center top / 100% auto;
  width: 28px;
  height: 18px;
  top: 50%;
  margin-top: -9px;
  cursor: pointer;
}
.form-input .show-password-btn.show-password-btn-visible {
  background-position: left bottom;
}
.form-radio {
  margin: 0 0 25px;
  display: flex;
}
.form-radio label {
  flex: 1 0 auto;
  border: solid 1px #d5d2d2;
  padding: 20px 5px 15px;
  margin-right: 3px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.form-radio label:last-child {
  margin-right: 0;
}
.form-radio input {
  display: none;
}
.form-radio input:checked + label {
  background: #194597;
  color: #fff;
}
.form-checkbox {
  display: flex;
  margin-bottom: 60px;
}
.form-checkbox input {
  background: #f2f2f2;
  border: solid 1px #d5d2d2;
  flex: 0 0 15px;
  height: 15px;
  margin: 3px 15px 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  cursor: pointer;
}
.form-checkbox input:checked {
  background: #194597;
  border-color: #194597;
}
.form-submit {
  text-align: center;
  margin: 40px 0 20px;
}
.contact-opening-hours {
  list-style: none;
  display: block;
  margin-bottom: 40px;
}
.contact-opening-hours.contact-opening-hours-homepage {
  display: none;
}
.contact-opening-hours li {
  display: flex;
  flex-direction: column-reverse;
  padding: 55px 20px 35px;
  background: #f7f7f7;
  text-align: center;
  margin-bottom: 7px;
}
.contact-opening-hours li.small {
  padding: 25px 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
.contact-opening-hours li .time {
  font-size: 48px;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  line-height: 1.2em;
  color: #194597;
  margin-bottom: 5px;
}
.contact-opening-hours li .days {
  color: #4c4c4c;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  line-height: 1.2em;
}
@media screen and (max-width: 500px) {
  .contact-opening-hours li .time {
    font-size: 30px;
    line-height: 1.2em;
  }
  .contact-opening-hours.contact-opening-hours-homepage {
    display: block;
  }
}
.contact-persons {
  margin-bottom: 80px;
}
.contact-persons .person {
  display: flex;
  margin-bottom: 10px;
}
.contact-persons .person .photo {
  background-position: center;
  background-size: cover;
  flex: 0 0 180px;
  margin-right: 10px;
}
.contact-persons .person .info {
  flex: 1 1 auto;
  border: solid 1px #d5d2d2;
  box-sizing: border-box;
  padding: 40px 30px 30px;
}
.contact-persons .person .info h2 {
  text-transform: uppercase;
  line-height: 1.2em;
  font-size: 20px;
}
.contact-persons .person .info .position {
  margin: 8px 0 15px;
}
@media screen and (max-width: 600px) {
  .contact-persons .person .photo {
    flex: 0 0 120px;
  }
  .contact-persons .person .info {
    flex: 1 1 auto;
    padding: 30px 15px 30px;
    font-size: 12px;
  }
}
.contact-map {
  max-width: 1250px;
  margin: 20px auto;
}
.team {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
}
.team .person {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / 4 - 3px);
  margin-left: 3px;
}
.team .person .photo {
  width: 100%;
  height: 0;
  padding-bottom: 120%;
  background-position: center;
  background-size: auto 103%;
  transition: all 0.3s ease-in;
}
.team .person .photo:hover {
  background-size: auto 100%;
  transition: all 0.3s ease-out;
}
.team .person p {
  font-size: 17px;
  margin: 15px 0;
  line-height: 1.2em;
  color: #000000;
}
.team .person:hover p {
  color: #194597;
}
@media screen and (max-width: 700px) {
  .team .person p {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .team .person {
    flex-basis: calc(100% / 2 - 3px);
  }
  .team .person p {
    text-align: center;
  }
}
.levels {
  list-style: none;
  text-align: center;
  margin: 0 0 20px;
}
.levels li {
  display: inline-block;
  width: 82px;
  height: 82px;
}
.levels li.level-1 {
  background-image: url(../images/level-1.svg);
}
.levels li.level-1.active {
  background-image: url(../images/level-1-aktivni.svg);
}
.levels li.level-2 {
  background-image: url(../images/level-2.svg);
}
.levels li.level-2.active {
  background-image: url(../images/level-2-aktivni.svg);
}
.levels li.level-3 {
  background-image: url(../images/level-3.svg);
}
.levels li.level-3.active {
  background-image: url(../images/level-3-aktivni.svg);
}
.levels li.level-4 {
  background-image: url(../images/level-4.svg);
}
.levels li.level-4.active {
  background-image: url(../images/level-4-aktivni.svg);
}
@media screen and (max-width: 500px) {
  .levels li {
    width: 60px;
    height: 60px;
    background-size: contain;
  }
}
.menu-profile {
  list-style: none;
  margin: 70px 0 0;
  display: flex;
  flex-wrap: wrap;
}
.menu-profile li {
  flex: 0 0 25%;
  display: flex;
}
.menu-profile li a {
  flex: 1 0 auto;
  height: 310px;
  padding-top: 165px;
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  color: #000000;
  border-top: solid 2px #f0f0f0;
  border-right: solid 2px #f0f0f0;
  position: relative;
}
.menu-profile li a.disabled {
  color: #b4b4b3;
}
.menu-profile li a.disabled:hover {
  background-color: #f8f8f8;
}
.menu-profile li a.disabled:hover:before {
  background-position: left top;
}
.menu-profile li a:before {
  position: absolute;
  left: 50%;
  display: block;
  width: 65px;
  height: 59px;
  content: "";
  top: 90px;
  margin-left: -33px;
}
.menu-profile li a.o1:before {
  background-image: url(../images/ikony-profil-vernostni-program.svg);
}
.menu-profile li a.o2:before {
  background-image: url(../images/ikony-profil-rezervovane-sluzby.svg);
}
.menu-profile li a.o3:before {
  background-image: url(../images/ikony-profil-platba-clenstvi.svg);
}
.menu-profile li a.o4:before {
  background-image: url(../images/ikony-profil-kredit.svg);
}
.menu-profile li a.o5:before {
  background-image: url(../images/ikony-profil-rezervace-masazi.svg);
}
.menu-profile li a.o6:before {
  background-image: url(../images/ikony-profil-moje-vyhody.svg);
}
.menu-profile li a.o7:before {
  background-image: url(../images/ikony-profil-dokumenty.svg);
}
.menu-profile li a.o8:before {
  background-image: url(../images/ikony-profil-nastaveni.svg);
}
.menu-profile li a:hover {
  background: #e5f05b;
}
.menu-profile li a:hover:before {
  background-position: left bottom;
}
.menu-profile li:nth-child(4n) a {
  border-right: 0;
}
@media screen and (max-width: 700px) {
  .menu-profile li {
    flex: 0 0 50%;
  }
  .menu-profile li:nth-child(2n) a {
    border-right: 0;
  }
}
@media screen and (max-width: 500px) {
  .menu-profile li a {
    height: 200px;
    padding-top: 115px;
  }
  .menu-profile li a:before {
    top: 40px;
  }
}
.service-reserved {
  margin: 50px 0;
}
.service-reserved h2 {
  padding: 25px 30px;
  background: #f1f1f1;
  font-size: 22px;
  text-transform: uppercase;
  color: #000000;
  line-height: 1.2em;
}
.service-reserved .row {
  display: flex;
}
.service-reserved .row .title,
.service-reserved .row .data {
  padding: 20px 30px;
  border: solid 1px #cecece;
  border-bottom: none;
}
.service-reserved .row .title {
  flex: 1 1 auto;
}
.service-reserved .row .data {
  flex: 0 0 220px;
  border-left: 0;
  text-align: right;
}
.service-reserved .row .link {
  border: solid 1px #cecece;
  background: #e5f05b;
  padding: 25px 30px;
  display: block;
  flex: 0 0 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}
.service-reserved .row .link:hover {
  background: #194597;
  color: #fff;
}
.service-reserved .row .link.link-disabled {
  color: #b4b4b3;
  background: #f1f1f1;
}
@media screen and (max-width: 700px) {
  .service-reserved h2 {
    padding: 20px;
  }
  .service-reserved .row .title,
  .service-reserved .row .data {
    padding: 20px;
    flex: 0 0 50%;
    box-sizing: border-box;
  }
}
.table-levels {
  margin: 50px 0;
}
.table-levels strong {
  font-weight: 600;
}
.table-levels .table {
  margin: 30px 0;
}
.table-levels h2 {
  padding: 25px 30px;
  background: #f1f1f1;
  font-size: 22px;
  text-transform: uppercase;
  color: #000000;
  line-height: 1.2em;
}
.table-levels h2.current-level {
  background-color: #e5f05b;
}
.table-levels h2 .light {
  font-size: 18px;
  font-weight: 300;
}
.table-levels h2 .right {
  font-size: 18px;
  font-weight: 400;
  float: right;
}
.table-levels .row {
  display: flex;
  clear: both;
}
.table-levels .row .title,
.table-levels .row .data {
  padding: 20px 30px;
  border: solid 1px #cecece;
  border-bottom: none;
}
.table-levels .row .title {
  flex: 1 1 auto;
}
.table-levels .row .data {
  flex: 0 0 170px;
  border-left: 0;
  text-align: right;
  box-sizing: border-box;
}
.table-levels .row:last-child > * {
  border-bottom: solid 1px #cecece;
}
@media screen and (max-width: 600px) {
  .table-levels h2 {
    padding: 20px;
    font-size: 18px;
  }
  .table-levels h2 .right {
    font-size: 15px;
    float: none;
  }
  .table-levels .row .title,
  .table-levels .row .data {
    padding: 15px;
  }
  .table-levels .row .data {
    flex: 0 0 30%;
  }
}
.change-password {
  margin: 50px 0 80px;
}
.change-password .extra-margins {
  margin: 10px 0 -5px;
  border-bottom: none;
}
.settings {
  margin: 0 0 80px;
}
.settings > div .row {
  display: flex;
}
.settings > div .row:hover .title,
.settings > div .row:hover .time {
  background: #eaeaea;
}
.settings > div .row strong {
  font-weight: 500;
}
.settings > div .row .title,
.settings > div .row .time {
  background: #f7f7f7;
  flex: 1 1 auto;
  padding: 25px 110px 25px 40px;
  margin-bottom: 3px;
  text-transform: uppercase;
  font-size: 16px;
  color: #000000;
  font-family: 'Oswald', sans-serif;
  position: relative;
}
.settings > div .row .time {
  flex: 0 1 auto;
  margin-right: 3px;
  padding-right: 40px;
}
.settings > div .row.row-arrow .title:after {
  position: absolute;
  top: 50%;
  background: url(../images/sipka-radek-odkaz.svg);
  width: 62px;
  height: 9px;
  right: 40px;
  margin-top: -4px;
  content: "";
  display: block;
}
.settings > div .row.row-switch-on .title {
  background: #e5f05b;
}
.settings > div .row.row-switch-on .title:before,
.settings > div .row.row-switch-off .title:before {
  position: absolute;
  top: 50%;
  background: url(../images/tlacitko-zapnout-vypnout-pozadi.svg) left bottom;
  width: 40px;
  height: 15px;
  right: 40px;
  margin-top: -7px;
  content: "";
  display: block;
}
.settings > div .row.row-switch-on .title:after,
.settings > div .row.row-switch-off .title:after {
  position: absolute;
  top: 50%;
  background: url(../images/tlacitko-zapnout-vypnout-kruh.svg) left bottom;
  width: 21px;
  height: 21px;
  right: 38px;
  margin-top: -10px;
  content: "";
  display: block;
}
.settings > div .row.row-switch-off .title:before {
  background-position: left top;
}
.settings > div .row.row-switch-off .title:after {
  right: 61px;
  background-position: left top;
}
.settings > div .info {
  padding: 40px;
  background: #f7f7f7;
  margin-bottom: 3px;
}
.settings > div .info ul {
  list-style: none;
}
.settings > div .info ul:after {
  content: "";
  display: block;
  clear: left;
}
.settings > div .info ul li {
  float: left;
  margin: 0 5px 5px 0;
}
.settings > div .info ul li.new-line {
  clear: left;
}
.settings > div .info ul li a {
  display: block;
  padding: 30px 0;
  border: solid 1px #d5d2d2;
  color: #000000;
  text-align: center;
  background: #ffffff;
}
.settings > div .info ul li a strong {
  display: block;
  width: 95px;
  font-size: 35px;
  font-family: 'Oswald', sans-serif;
  line-height: 1em;
}
.settings > div .info ul li a:hover,
.settings > div .info ul li a.active {
  background: #e5f05b;
}
@media screen and (max-width: 600px) {
  .settings li .row .title,
  .settings li .row .time {
    padding-left: 20px;
    padding-right: 90px;
  }
  .settings li .row .time {
    padding-right: 20px;
  }
  .settings li .row.row-arrow .title:after {
    right: 20px;
  }
  .settings li .row.row-switch-on .title:before,
  .settings li .row.row-switch-off .title:before {
    right: 20px;
  }
  .settings li .row.row-switch-on .title:after,
  .settings li .row.row-switch-off .title:after {
    right: 41px;
  }
  .settings li .row.row-switch-off .title:after {
    right: 18px;
  }
}
.clock-popup {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  display: flex;
  overflow-y: auto;
}
.clock-popup .container {
  max-width: 470px;
  background: #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 40px 85px;
  margin: auto;
  position: relative;
}
.clock-popup .container p {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 30px 0;
  line-height: 1.2em;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
}
.clock-popup .container .numbers {
  display: flex;
}
.clock-popup .container .numbers .number {
  flex: 1 1 auto;
  border: solid 1px #d5d2d2;
  position: relative;
  height: 165px;
}
.clock-popup .container .numbers .number:first-child {
  margin-right: 3px;
}
.clock-popup .container .numbers .number input {
  width: 100%;
  height: 115px;
  font-size: 60px;
  color: #292929;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
}
.clock-popup .container .numbers .number label {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 16px;
}
@media screen and (max-width: 500px) {
  .clock-popup {
    background: #ffffff;
  }
  .clock-popup .container {
    padding: 30px 20px;
    width: 100%;
  }
}
.massage-reservations {
  max-width: 970px;
  margin: 0 auto;
}
.massage-reservations .filter {
  max-width: 860px;
  margin: 65px auto;
  display: flex;
  justify-content: space-between;
}
.massage-reservations .filter .select {
  width: calc(100% / 3 - 7px);
  border: solid 1px #d5d2d2;
  position: relative;
}
.massage-reservations .filter .select select {
  width: 100%;
  height: 68px;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  padding: 0 75px 0 25px;
  font-weight: 600;
}
.massage-reservations .filter .select select::-ms-expand {
  display: none;
}
.massage-reservations .filter .select:after {
  background: url(../images/sipka-filtr.svg);
  width: 32px;
  height: 9px;
  position: absolute;
  right: 39px;
  top: 50%;
  margin-top: -4px;
  content: "";
  display: block;
  pointer-events: none;
}
.massage-reservations h2 {
  text-transform: uppercase;
  margin: 50px 0 25px;
}
.massage-reservations .calendar {
  margin: 0 auto 60px;
  list-style: none;
}
.massage-reservations .calendar li {
  display: block;
  float: left;
}
.massage-reservations .calendar li .cell {
  display: block;
  width: 103px;
  margin: 0 4px 4px 0;
  text-align: center;
  height: 90px;
  line-height: 90px;
  background: #f7f7f7;
  font-family: 'Oswald', sans-serif;
}
.massage-reservations .calendar li a.cell {
  background: #e5f05b;
  color: #000000;
}
.massage-reservations .calendar li a.cell:hover {
  background: #194597;
  color: #fff;
}
.massage-reservations .calendar:after {
  display: block;
  content: "";
  clear: both;
}
@media screen and (max-width: 1050px) {
  .massage-reservations {
    margin: 0 20px;
  }
}
@media screen and (max-width: 950px) {
  .massage-reservations .filter {
    display: block;
  }
  .massage-reservations .filter .select {
    width: auto;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 500px) {
  .massage-reservations .calendar {
    display: flex;
    flex-wrap: wrap;
  }
  .massage-reservations .calendar li {
    display: flex;
    flex: 0 0 32%;
    margin: 0 1% 1% 0;
  }
  .massage-reservations .calendar li .cell {
    flex: 1 1 auto;
    margin: 0;
    width: auto;
    height: auto;
    line-height: 1.2em;
    padding: 35px 5px;
    box-sizing: border-box;
  }
}
.massage-popup {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  display: flex;
  overflow-y: auto;
}
.massage-popup .container {
  width: 768px;
  background: #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  margin: auto;
  position: relative;
}
.massage-popup .container h2 {
  text-align: center;
  font-size: 30px;
  color: #292929;
  line-height: 1.2em;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}
.massage-popup .container .btn-back {
  display: block;
  background: #f6f6f6;
  text-align: center;
  font-size: 20px;
  line-height: 1em;
  color: #c6c4c4;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  padding: 27px 0;
  text-transform: uppercase;
}
.massage-popup .container .btn-back:hover {
  background: #194597;
  color: #ffffff;
}
.massage-popup .container.container-step-1 {
  padding-top: 40px;
}
.massage-popup .container.container-step-1 .persons {
  margin: 0 55px 35px;
}
.massage-popup .container.container-step-1 .persons .person {
  display: flex;
  color: #000000;
  margin-bottom: 10px;
}
.massage-popup .container.container-step-1 .persons .person.person-selected .data,
.massage-popup .container.container-step-1 .persons .person:hover .data {
  background: #194597;
  color: #ffffff;
}
.massage-popup .container.container-step-1 .persons .person.person-selected .data:after,
.massage-popup .container.container-step-1 .persons .person:hover .data:after {
  background-position: left bottom;
}
.massage-popup .container.container-step-1 .persons .person .image {
  flex: 0 0 110px;
  margin-right: 10px;
}
.massage-popup .container.container-step-1 .persons .person .image img {
  display: block;
}
.massage-popup .container.container-step-1 .persons .person .data {
  flex: 1 0 auto;
  padding: 30px 105px 30px 45px;
  box-sizing: border-box;
  background: #f7f7f7;
  position: relative;
}
.massage-popup .container.container-step-1 .persons .person .data h3 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
  line-height: 1.2em;
}
.massage-popup .container.container-step-1 .persons .person .data p {
  font-size: 15px;
  line-height: 1.5em;
}
.massage-popup .container.container-step-1 .persons .person .data:after {
  display: block;
  background: url(../images/sipka-radek-odkaz.svg);
  width: 62px;
  height: 9px;
  margin-top: -5px;
  content: "";
  position: absolute;
  right: 36px;
  top: 50%;
}
.massage-popup .container.container-step-1 .persons .massage-length {
  display: none;
}
.massage-popup .container.container-step-1 .persons .person-selected + .massage-length {
  display: flex;
  margin: 0 -5px;
}
.massage-popup .container.container-step-1 .massage-length {
  list-style: none;
  display: flex;
}
.massage-popup .container.container-step-1 .massage-length li {
  flex: 1 1 auto;
  display: flex;
  margin: 0 5px 10px;
}
.massage-popup .container.container-step-1 .massage-length li a {
  padding: 50px 0;
  flex: 1 1 auto;
  background: #f7f7f7;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
.massage-popup .container.container-step-1 .massage-length li a strong {
  display: block;
  font-size: 30px;
  line-height: 1em;
  width: 80px;
  margin: 0 auto;
  font-weight: 500;
}
.massage-popup .container.container-step-1 .massage-length li a:hover {
  background: #194597;
  color: #ffffff;
}
.massage-popup .container.container-step-1 .massage-length li.disabled a {
  color: #b4b4b3;
}
.massage-popup .container.container-step-1 .massage-length li.disabled a:hover {
  background: #f8f8f8;
}
.massage-popup .container.container-step-3 .bg-gray {
  padding: 95px 95px 80px;
  background: #f7f7f7;
}
.massage-popup .container.container-step-3 .person {
  display: flex;
  color: #000000;
}
.massage-popup .container.container-step-3 .person .image {
  flex: 0 0 110px;
  margin-right: 10px;
}
.massage-popup .container.container-step-3 .person .image img {
  display: block;
}
.massage-popup .container.container-step-3 .person .data {
  flex: 1 1 auto;
  padding: 10px 0 0 30px;
  box-sizing: border-box;
  background: #f7f7f7;
  position: relative;
  width: 540px;
}
.massage-popup .container.container-step-3 .person .data h3 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
  line-height: 1.2em;
}
.massage-popup .container.container-step-3 .person .data p {
  font-size: 15px;
  line-height: 1.7em;
}
.massage-popup .container.container-step-3 .agree-text {
  padding: 55px 95px 30px;
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;
}
.massage-popup .container.container-step-3 .agree-text strong {
  color: #194597;
  font-weight: 500;
}
.massage-popup .container.container-step-3 .form-input {
  margin: 0 95px 40px;
}
.massage-popup .container.container-step-3 .buttons {
  display: flex;
}
.massage-popup .container.container-step-3 .buttons > a {
  flex: 0 0 50%;
}
.massage-popup .container.container-step-3 .buttons .btn-confirm {
  display: block;
  background: #f6f6f6;
  text-align: center;
  font-size: 20px;
  line-height: 1em;
  color: #c6c4c4;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  padding: 27px 0;
  text-transform: uppercase;
  background: #e5f05b;
  color: #000000;
}
.massage-popup .container.container-step-3 .buttons .btn-confirm:hover {
  background: #194597;
  color: #ffffff;
}
.massage-popup .container.container-step-4 {
  padding: 230px 0 245px;
  text-align: center;
}
.massage-popup .container.container-step-4 p {
  margin: 20px 0 45px;
  font-size: 16px;
  line-height: 1.5em;
}
@media screen and (max-width: 768px) {
  .massage-popup {
    display: block;
    background: #ffffff;
  }
  .massage-popup .container {
    width: 100%;
    min-height: 100%;
    max-width: none;
    border-radius: 0;
    padding-bottom: 100px;
  }
  .massage-popup .container .btn,
  .massage-popup .container .btn-back,
  .massage-popup .container.container-step-3 .buttons .btn-confirm {
    width: 100%;
    border-radius: 0;
    line-height: 80px;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    padding: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .massage-popup .container.container-step-1 {
    padding-bottom: 74px;
    box-sizing: border-box;
    position: relative;
  }
  .massage-popup .container.container-step-1 .persons {
    margin: 10px 20px 20px;
  }
  .massage-popup .container.container-step-1 .persons .person {
    border: solid 1px #d5d2d2;
    padding: 10px 10px 70px;
    position: relative;
  }
  .massage-popup .container.container-step-1 .persons .person .data {
    padding: 10px 10px 20px;
    flex-shrink: 1;
  }
  .massage-popup .container.container-step-1 .persons .person .data:after {
    display: none;
  }
  .massage-popup .container.container-step-1 .persons .person:after {
    display: block;
    flex: 0 0 100%;
    content: "Vybrat";
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 50px;
    right: 10px;
    background: #194597;
    text-align: center;
    color: #ffffff;
    line-height: 50px;
  }
  .massage-popup .container.container-step-1 .massage-length {
    margin: 20px 20px 0;
    border: solid 1px #d5d2d2;
    padding: 10px 5px 0;
    flex-wrap: wrap;
  }
  .massage-popup .container.container-step-3 {
    position: relative;
    padding-bottom: 75px;
  }
  .massage-popup .container.container-step-3 .bg-gray {
    padding: 60px 20px 20px;
  }
  .massage-popup .container.container-step-3 .agree-text {
    padding: 20px;
  }
  .massage-popup .container.container-step-3 .form-input {
    margin: 0 20px;
  }
  .massage-popup .container.container-step-3 .person .data {
    padding-left: 10px;
  }
  .massage-popup .container.container-step-3 .buttons > .btn-back,
  .massage-popup .container.container-step-3 .buttons > .btn-confirm {
    font-size: 15px;
    width: 50%;
    padding: 0;
  }
  .massage-popup .container.container-step-3 .buttons .btn-confirm {
    left: 50%;
  }
  .massage-popup .container.container-step-4 {
    padding: 50px 20px 100px;
  }
}
.credits {
  margin: 30px 0 60px;
}
.credits .row {
  display: flex;
  margin-bottom: 3px;
}
.credits .row .title,
.credits .row .value {
  flex: 1 1 auto;
  padding: 25px 25px 25px 35px;
  background: #f7f7f7;
  font-size: 16px;
  color: #292929;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}
.credits .row .title input,
.credits .row .value input {
  background: none;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  font-size: 16px;
  color: #292929;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}
.credits .row .value {
  flex: 0 0 120px;
  margin-left: 3px;
  text-align: right;
  box-sizing: border-box;
  padding-left: 25px;
}
.credits .row .value.value-submit {
  padding: 0;
  display: flex;
}
.credits .row .value.value-submit [type=submit] {
  background: #e5f05b;
  cursor: pointer;
}
.credits .row .value.value-submit [type=submit]:hover {
  background: #194597;
  color: #fff;
}
.credits .row.row-selected .title,
.credits .row.row-selected .value {
  background: #e5f05b;
}
.credits .row .centered {
  text-align: center;
}
.credits .row .light {
  font-weight: 400;
}
.credits a.row:hover .title,
.credits a.row:hover .value {
  background: #e5f05b;
}
@media screen and (max-width: 500px) {
  .credits .row .title,
  .credits .row .value {
    padding: 25px 20px;
  }
}
.table-wired {
  margin: 30px 0 60px;
}
.table-wired .row {
  display: flex;
  border: solid 1px #cecece;
  border-bottom: 0;
}
.table-wired .row:last-child {
  border: solid 1px #cecece;
}
.table-wired .row .cell {
  flex: 1 1 auto;
  padding: 25px 25px 25px 35px;
  font-size: 15px;
  border-right: solid 1px #cecece;
}
.table-wired .row .cell:last-child {
  border-right: none;
}
.table-wired .row .cell.right {
  flex: 0 0 190px;
  text-align: right;
  box-sizing: border-box;
  padding-left: 25px;
  font-weight: 600;
}
@media screen and (max-width: 500px) {
  .table-wired .row .cell {
    padding: 25px 20px;
  }
}
.schedule-filter .filters {
  max-width: 860px;
  margin: 0 auto -30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.schedule-filter .filters .select {
  width: calc(100% / 2 - 5px);
  flex-basis: calc(100% / 2 - 5px);
  border: solid 1px #d5d2d2;
  position: relative;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.schedule-filter .filters .select:hover {
  border-color: #6a6969;
}
.schedule-filter .filters .select select {
  width: 100%;
  height: 68px;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  padding: 0 75px 0 25px;
  font-weight: 600;
  cursor: pointer;
}
.schedule-filter .filters .select select::-ms-expand {
  display: none;
}
.schedule-filter .filters .select:after {
  background: url(../images/sipka-filtr.svg);
  width: 32px;
  height: 9px;
  position: absolute;
  right: 39px;
  top: 50%;
  margin-top: -4px;
  content: "";
  display: block;
  pointer-events: none;
}
.schedule-filter .buttons {
  display: flex;
  list-style: none;
  border-top: solid 2px #f0f0f0;
}
.schedule-filter .buttons li {
  flex: 0 0 50%;
  box-sizing: border-box;
  display: flex;
}
.schedule-filter .buttons li:first-child {
  border-right: solid 2px #f0f0f0;
}
.schedule-filter .buttons li a {
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  flex: 1 0 100%;
  padding: 30px 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
.schedule-filter .buttons li a:hover {
  background: #194597;
  color: #ffffff;
}
.schedule {
  max-width: 1250px;
  margin: 60px auto 35px;
}
.schedule .row {
  display: flex;
  border-bottom: solid 2px #ffffff;
}
.schedule .row:last-child {
  border-bottom: none;
}
.schedule .row .head,
.schedule .row .cell {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: calc(100% / 7);
  box-sizing: border-box;
  border-right: solid 2px #ffffff;
}
.schedule .row .head:last-child,
.schedule .row .cell:last-child {
  border-right: none;
}
.schedule .row .head {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  padding: 22px 0 18px;
  background: #ffffff;
}
.schedule .row .head.highlight:nth-child(n) {
  background: #e5f05b;
}
.schedule .row .head strong {
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  display: block;
  text-transform: uppercase;
}
.schedule .row .head:nth-child(2n) {
  background: #ebebeb;
}
.schedule .row .cell {
  padding: 12px 15px 25px;
  background: #f7f7f7;
  position: relative;
  color: #000000;
}
.schedule .row .cell.bg-2 {
  background: #f0f0f0;
}
.schedule .row .cell:nth-child(7n) {
  border-right: none;
}
.schedule .row .cell.color-blue .level {
  background: url(../images/obtiznost-bazen.svg);
}
.schedule .row .cell.color-yellow .level {
  background: url(../images/obtiznost-body.svg);
}
.schedule .row .cell.color-green .level {
  background: url(../images/obtiznost-cycling.svg);
}
.schedule .row .cell.color-caribbean-green .level {
  background: url(../images/obtiznost-silove.svg);
}
.schedule .row .cell.color-pink .level {
  background: url(../images/obtiznost-tanec.svg);
}
.schedule .row .cell.color-violet .level {
  background: url(../images/obtiznost-akce.svg);
}
.schedule .row .cell.color-none .level {
  background: url(../images/obtiznost-none.svg);
}
.schedule .row .cell.color-blue:hover {
  background: #1FD2FD;
}
.schedule .row .cell.color-yellow:hover {
  background: #DDDE3A;
}
.schedule .row .cell.color-green:hover {
  background: #5FFA00;
}
.schedule .row .cell.color-caribbean-green:hover {
  background: #00EEB0;
}
.schedule .row .cell.color-violet:hover {
  background: #B77BFF;
}
.schedule .row .cell.color-pink:hover {
  background: #E753A7;
}
.schedule .row .cell.color-none:hover {
  background: #d8d8d8;
}
.schedule .row .cell:hover .level {
  background: url(../images/obtiznost-cerna.svg);
}
.schedule .row .cell .heading {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 10px;
}
.schedule .row .cell h2 {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.2em;
  font-weight: 400;
}
.schedule .row .cell .person {
  font-size: 12px;
  font-weight: 300;
}
.schedule .row .cell .level {
  height: 11px;
  align-self: flex-end;
  width: 14px;
  position: absolute;
  bottom: 10px;
}
.schedule .row .cell .level.level-2 {
  width: 28px;
}
.schedule .row .cell .level.level-3 {
  width: 42px;
}
.schedule-info {
  margin: 25px auto;
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.schedule-info > a {
  flex: 0 1 auto;
  padding-left: 45px;
  background: url(../images/sipka-filtr.svg) 0 center no-repeat;
  font-size: 15px;
  display: block;
  color: #000000;
}
.schedule-info > a:hover {
  color: #194597;
}
.schedule-info ul {
  flex: 0 1 auto;
  list-style: none;
  display: flex;
}
.schedule-info ul li {
  margin-left: 25px;
}
.schedule-info ul li:before {
  display: inline-block;
  content: "";
  background: url(../images/obtiznost-cerna.svg);
  width: 14px;
  height: 11px;
  margin-right: 5px;
}
.schedule-info ul li:nth-child(2):before {
  width: 28px;
}
.schedule-info ul li:nth-child(3):before {
  width: 42px;
}
@media screen and (max-width: 500px) {
  .schedule-info {
    display: block;
  }
  .schedule-info p {
    margin: 20px 0;
    padding-left: 100px;
    background-position: 55px center;
  }
  .schedule-info ul {
    justify-content: space-between;
  }
  .schedule-info ul li {
    margin-left: 0;
    font-size: 10px;
  }
}
.schedule-type {
  margin: 20px auto 70px;
  max-width: 1250px;
  display: flex;
}
.schedule-type li {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
  width: calc(100% / 6);
  box-sizing: border-box;
  border-right: solid 4px #f0f0f0;
  font-size: 15px;
  background: #ffffff;
  text-transform: uppercase;
  display: flex;
}
.schedule-type li:last-child {
  border-right: 0;
}
.schedule-type li.color-blue a {
  color: #1FD2FD;
}
.schedule-type li.color-blue a:hover {
  background: #1FD2FD;
}
.schedule-type li.color-yellow a {
  color: #DDDE3A;
}
.schedule-type li.color-yellow a:hover {
  background: #DDDE3A;
}
.schedule-type li.color-green a {
  color: #5FFA00;
}
.schedule-type li.color-green a:hover {
  background: #5FFA00;
}
.schedule-type li.color-caribbean-green a {
  color: #00EEB0;
}
.schedule-type li.color-caribbean-green a:hover {
  background: #00EEB0;
}
.schedule-type li.color-violet a {
  color: #B77BFF;
}
.schedule-type li.color-violet a:hover {
  background: #B77BFF;
}
.schedule-type li.color-pink a {
  color: #E753A7;
}
.schedule-type li.color-pink a:hover {
  background: #E753A7;
}
.schedule-type li a {
  display: block;
  padding: 15px 0;
  text-align: center;
  flex: 1 1 auto;
}
.schedule-type li a:hover {
  color: #fff;
}
.lecture-popup {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  display: flex;
  overflow-y: auto;
}
.lecture-popup .container {
  width: 440px;
  margin: auto;
  position: relative;
}
.lecture-popup .container .popup-close {
  background-image: url(../images/zaviraci-krizek-bily.svg);
  top: 0;
  right: 0;
}
.lecture-popup .container .main-image {
  display: block;
  width: 100%;
}
.lecture-popup .container .data {
  padding: 30px 10px;
  background: #ffffff;
  text-align: center;
}
.lecture-popup .container .data h2 {
  font-size: 25px;
  text-transform: uppercase;
  margin: 0 0 12px;
  line-height: 1.2em;
}
.lecture-popup .container .data p {
  font-size: 15px;
  line-height: 1.5em;
}
.lecture-popup .container .data p strong {
  font-weight: 600;
}
.lecture-popup .container .data p .row {
  display: block;
}
.lecture-popup .container .data p .level {
  display: inline-block;
  width: 14px;
  height: 11px;
  background: url(../images/obtiznost-cerna.svg);
  margin-left: 5px;
}
.lecture-popup .container .data p .level.level-2 {
  width: 28px;
}
.lecture-popup .container .data p .level.level-3 {
  width: 42px;
}
.lecture-popup .container .data p .level.color-blue {
  background: url(../images/obtiznost-bazen.svg);
}
.lecture-popup .container .data p .level.color-yellow {
  background: url(../images/obtiznost-body.svg);
}
.lecture-popup .container .data p .level.color-green {
  background: url(../images/obtiznost-cycling.svg);
}
.lecture-popup .container .data p .level.color-caribbean-green {
  background: url(../images/obtiznost-silove.svg);
}
.lecture-popup .container .data p .level.color-pink {
  background: url(../images/obtiznost-tanec.svg);
}
.lecture-popup .container .data p .level.color-violet {
  background: url(../images/obtiznost-akce.svg);
}
.lecture-popup .container .buttons {
  display: flex;
  list-style: none;
}
.lecture-popup .container .buttons li {
  flex: 0 0 50%;
  display: flex;
}
.lecture-popup .container .buttons li a {
  font-size: 15px;
  color: #000000;
  flex: 1 0 100%;
  padding: 23px 0;
  text-align: center;
  background: #f0efef;
}
.lecture-popup .container .buttons li a:hover {
  background: #194597;
  color: #ffffff;
}
.lecture-popup .container .buttons li:last-child a {
  background: #e5f05b;
}
.lecture-popup .container .buttons li:last-child a:hover {
  background: #194597;
}
@media screen and (max-width: 500px) {
  .lecture-popup {
    background: #ffffff;
  }
  .lecture-popup .container {
    width: 100%;
    height: 100%;
    padding: 0;
    max-width: none;
    border-radius: 0;
  }
  .lecture-popup .container .row {
    border-top: solid 1px #d3d3d3;
    padding: 15px 20px;
    text-align: left;
  }
  .lecture-popup .container .row strong {
    float: right;
  }
  .lecture-popup .container .row .level {
    float: right;
  }
  .lecture-popup .container .data {
    padding: 40px;
  }
}
@media screen and (max-width: 950px) {
  .schedule-section-no-responsive {
    display: none;
  }
}
@media screen and (min-width: 950px) {
  .schedule-section-responsive {
    display: none;
  }
}
.schedule-header {
  background: #2c62c6;
  background: -moz-linear-gradient(-45deg, #2c62c6 0%, #244d9d 100%);
  background: -webkit-linear-gradient(-45deg, #2c62c6 0%, #244d9d 100%);
  background: linear-gradient(135deg, #2c62c6 0%, #244d9d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c62c6', endColorstr='#244d9d', GradientType=1);
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all 0.3s ease-out;
  padding-bottom: 10px;
  padding-top: 10px;
}
.schedule-header .row {
  display: flex;
  height: 90px;
  transition: all 0.3s ease-out;
}
.schedule-header .row .left {
  flex: 0 0 33%;
  background: url(../images/sipka-vlevo-bila.svg) center no-repeat;
}
.schedule-header .row .left.left-arrow-hidden {
  background: none;
}
.schedule-header .row .date {
  flex: 0 0 34%;
  color: #ffffff;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1em;
}
.schedule-header .row .date strong {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.schedule-header .row .date span {
  max-height: 100px;
  transition: all 0.3s ease-out;
}
.schedule-header .row .right {
  flex: 0 0 33%;
  background: url(../images/sipka-vpravo-bila.svg) center no-repeat;
}
.schedule-header .row .right-small {
  display: none;
}
.schedule-header .row .icon-settings {
  flex: 0 0 33%;
  position: relative;
}
.schedule-header .row .icon-settings:after {
  background: url(../images/ikony-profil-nastaveni.svg) left top / 100% auto;
  width: 40px;
  height: 36px;
  content: "";
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -18px;
}
.schedule-header .row .arrow-right,
.schedule-header .row .icon-settings {
  display: none;
}
.schedule-header.schedule-header-small {
  top: 0;
}
.schedule-header.schedule-header-small .row {
  height: 50px;
}
.schedule-header.schedule-header-small .arrow-right,
.schedule-header.schedule-header-small .icon-settings {
  display: block;
}
.schedule-header.schedule-header-small .right {
  display: none;
}
.schedule-header.schedule-header-small .left,
.schedule-header.schedule-header-small .right-small {
  flex: 0 0 16%;
}
.schedule-header.schedule-header-small .right-small {
  display: block;
}
.schedule-header.schedule-header-small .filter,
.schedule-header.schedule-header-small .date span {
  max-height: 0;
  overflow: hidden;
}
.schedule-header .filter {
  display: flex;
  transition: all 0.3s ease-out;
  max-height: 100px;
}
.schedule-header .filter li {
  flex: 1 1 auto;
  display: flex;
  text-align: center;
}
.schedule-header .filter li span {
  color: #122d62;
  display: inline-block;
  margin: auto;
  border-bottom: solid 1px transparent;
  padding-bottom: 3px;
  position: relative;
  overflow: hidden;
}
.schedule-header .filter li span select {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.schedule-header .filter li span:hover,
.schedule-header .filter li span.highlight {
  border-bottom: solid 1px #ffffff;
}
.schedule-header .filter li span:hover label,
.schedule-header .filter li span.highlight label {
  color: #fff;
}
.schedule-mobile {
  padding: 160px 20px 20px;
}
.schedule-header-small + .schedule-mobile {
  padding-top: 150px;
}
.schedule-mobile .cell {
  display: block;
  background: #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  padding: 20px 20px 30px;
  color: #000000;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}
.schedule-mobile .cell.color-blue .level {
  background: url(../images/obtiznost-bazen.svg);
}
.schedule-mobile .cell.color-yellow .level {
  background: url(../images/obtiznost-body.svg);
}
.schedule-mobile .cell.color-green .level {
  background: url(../images/obtiznost-cycling.svg);
}
.schedule-mobile .cell.color-caribbean-green .level {
  background: url(../images/obtiznost-silove.svg);
}
.schedule-mobile .cell.color-pink .level {
  background: url(../images/obtiznost-tanec.svg);
}
.schedule-mobile .cell.color-violet .level {
  background: url(../images/obtiznost-akce.svg);
}
.schedule-mobile .cell.color-none .level {
  background: url(../images/obtiznost-none.svg);
}
.schedule-mobile .cell .heading {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 10px;
}
.schedule-mobile .cell h2 {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.2em;
  font-weight: 400;
}
.schedule-mobile .cell .person {
  font-size: 12px;
  font-weight: 300;
}
.schedule-mobile .cell .level {
  height: 11px;
  width: 14px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.schedule-mobile .cell .level.level-2 {
  width: 28px;
}
.schedule-mobile .cell .level.level-3 {
  width: 42px;
}
.login-popup {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  display: flex;
  overflow-y: auto;
}
.login-popup .container {
  width: 470px;
  background: #194597;
  margin: auto;
  position: relative;
}
.login-popup .container .popup-close {
  background-image: url(../images/zaviraci-krizek-bily.svg);
}
.login-popup .container h2 {
  color: #ffffff;
  font-size: 23px;
  text-align: center;
  text-transform: uppercase;
  margin: 150px 40px 40px;
  line-height: 1.2em;
  position: relative;
}
.login-popup .container h2:before {
  background: url(../images/ikona-menu-prihlaseni.svg) center / contain;
  width: 44px;
  height: 50px;
  display: block;
  position: absolute;
  content: "";
  left: 50%;
  margin-left: -22px;
  top: -70px;
}
.login-popup .container .form-input {
  margin-left: 55px;
  margin-right: 55px;
  background: #ffffff;
}
.login-popup .container .form-checkbox {
  margin: 25px 0 70px;
  display: flex;
  justify-content: center;
  color: #ffffff;
}
.login-popup .container .form-checkbox input:checked {
  background: #e5f05b;
  border-color: #e5f05b;
}
.login-popup .container .link-forgotten-password {
  color: #022055;
  text-align: center;
  display: block;
}
.login-popup .container .link-forgotten-password:hover {
  color: #ffffff;
}
.login-popup .container .form-submit {
  margin-bottom: 0;
}
.login-popup .container .btn {
  width: 100%;
  border-radius: 0;
  line-height: 80px;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
}
.login-popup .container .btn:hover {
  background: #022055;
  border-color: #022055;
}
@media screen and (max-width: 500px) {
  .login-popup {
    background: #194597;
    display: block;
  }
  .login-popup .container {
    width: 100%;
    min-height: 100%;
    max-width: none;
    border-radius: 0;
    position: relative;
    padding-bottom: 100px;
    box-sizing: border-box;
  }
  .login-popup .container .form-input {
    margin-left: 20px;
    margin-right: 20px;
  }
  .login-popup .container .form-submit {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
.partners {
  list-style: none;
  margin: 80px auto;
}
.partners:after {
  display: block;
  content: " ";
  clear: left;
}
.partners li {
  float: left;
  display: flex;
  width: calc(100% / 3 - 9px);
  margin: 0 13px 13px 0;
  height: 0;
  padding-top: 30%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90% auto;
  border: solid 1px #cccccc;
  box-sizing: border-box;
}
.partners li:nth-child(3n) {
  margin-right: 0;
}
.partners li a {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 0;
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90% auto;
}
.partners li:hover a {
  background-position: 9999px 0;
}
@media screen and (max-width: 600px) {
  .partners {
    margin: 50px auto;
  }
  .partners li {
    width: calc(100% / 2 - 5px);
    margin: 0 10px 10px 0;
    padding-top: 48%;
  }
  .partners li:nth-child(3n) {
    margin-right: 10px;
  }
  .partners li:nth-child(2n) {
    margin-right: 0;
  }
}
.slider-simple {
  display: block;
  position: relative;
  margin: 0 auto 50px;
  max-width: 860px;
}
.slider-simple .prev,
.slider-simple .next {
  position: absolute;
  width: 50%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 1;
}
.slider-simple .prev span,
.slider-simple .next span {
  background: url(../images/tlacitko-posun-fotky-doleva.svg);
  width: 105px;
  height: 45px;
  display: none;
  left: 30px;
  top: 50%;
  margin-top: -22px;
  position: absolute;
  content: "";
}
.slider-simple .prev span:hover,
.slider-simple .next span:hover {
  background-position: left bottom;
}
.slider-simple .prev:hover span,
.slider-simple .next:hover span {
  display: block;
}
.slider-simple .next {
  left: auto;
  right: 0;
}
.slider-simple .next span {
  left: auto;
  right: 30px;
  background: url(../images/tlacitko-posun-fotky-doprava.svg);
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url(../images/preloader.gif);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 99;
  display: none;
}
.preloader.preloader-active {
  display: block;
}
